<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupping</title>
    <link rel="stylesheet" th:href="@{/css/authMain.css(ver=${date})}">
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Dancing+Script:wght@500&family=Festive&family=Gugi&family=IM+Fell+English+SC&family=Indie+Flower&family=Josefin+Sans&family=Jua&family=Noto+Sans+Display:wght@200&family=Oleo+Script+Swash+Caps&family=Quintessential&family=Single+Day&family=Sunflower&family=Water+Brush&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Dancing+Script:wght@500&family=Festive&family=Fredoka+One&family=Gugi&family=IM+Fell+English+SC&family=Indie+Flower&family=Josefin+Sans&family=Jua&family=Noto+Sans+Display:wght@200&family=Oleo+Script+Swash+Caps&family=Patrick+Hand&family=Quintessential&family=Single+Day&family=Sunflower&family=Water+Brush&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Dancing+Script:wght@500&family=Festive&family=Fredoka+One&family=Gugi&family=IM+Fell+English+SC&family=Indie+Flower&family=Josefin+Sans&family=Jua&family=Noto+Sans+Display:wght@200&family=Oleo+Script+Swash+Caps&family=Patrick+Hand&family=Quintessential&family=Single+Day&family=Sunflower&family=Water+Brush&display=swap"
            rel="stylesheet">
    <script defer th:src="@{/js/authMain.js(ver=${date})}"></script>
</head>

<body>
<div class="container">
    <div class="container_contents">
        <header class="header">
            <div class="header_title">
                <h1 class="title">
                    <a href="/">Stupping</a>
                </h1>
            </div>


            <nav class="header_nav">
                <ul class="sub_nav">
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    <li><a href="/signUpPage">SignUp</a></li>
                    <li><a href="/customer/myPage">MyPage</a></li>
                </ul>
            </nav>

            <form action="/notebooksInfo" method="get" class="search_bar">
                <input type="search" name="name" id="item" placeholder="상품 or 회사이름">
                <button type="submit">
                    Go
                </button>
            </form>
        </header>
        <main class="main">
            <div class="carousel_container">
                <div class="carousel">
                    <th:block th:each="topNotebook: ${topNotebooks}">
                        <div class="carousel_item" th:attr="data-id=${topNotebook.id}">
                            <div class="carousel_img">
                                <img th:src="'/display?name='+${topNotebook.img}" alt="" srcset="">
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="shift_box">
                    <th:block th:each="num : ${#numbers.sequence(1,3)}">
                        <div class="shift"></div>
                    </th:block>
                </div>
            </div>
            <div class="main_contents">
                <div class="top8_contents">
                    <div class="title_box">
                        <h2 class="title">TOP8</h2>
                    </div>
                    <div class="top8_box">
                        <table>
                            <th:block th:each="row : ${#numbers.sequence(1,3)}">
                                <tr>
                                    <th:block th:each="col : ${#numbers.sequence(1,3)}">
                                        <td th:with="index=${rowStat.index*3}+${colStat.index}">
                                            <div class="item_cart" th:attr="data-id=${recentNotebooks[index].id}">
                                                <div class="cart_info">
                                                    <div class="cart_title_box">
                                                        <h3>id : <%= result2[i]._id %>
                                                        </h3>
                                                    </div>
                                                    <div class="cart_price_box">
                                                        <h3>
                                                            <%= result2[i].price %>
                                                        </h3>
                                                    </div>
                                                    <div class="cart_content_box">
                                                        <p>
                                                            <%= result2[i].content %>
                                                        </p>
                                                    </div>
                                                    <div class="cart_button_box">
                                                        <!-- fetch! 상품id 전송! -->
                                                        <button class="top8_button"
                                                                th:attr="data-id=${recentNotebooks[index].id}">detail</button>
                                                    </div>
                                                </div>
                                                <div class="cart_img">
                                                    <img th:src="'/display?name='+${recentNotebooks[index].img}" alt="">
                                                </div>
                                            </div>
                                        </td>
                                    </th:block>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                </div>
                <!-- top8 contents 완료! ==> 기능까지 완료! -->
                <div class="category_contents">
                    <div class="title_box">
                        <h2 class="title">CATEGORY</h2>
                        <!-- result3로 통일한다. -->
                    </div>
                    <div class="category_box">
                        <form action="/user/item-result" method="get" class="category_form">
                            <div class="comName_category cate">
                                <div class="category_imgBox">

                                </div>
                                <div class="name_box"></div>
                                <select name="title" id="dropdown_list">
                                    <option value="상품1">상품1</option>
                                    <option value="상품2">상품2</option>
                                    <option value="ㄹㄹㄹ">ㄹㄹㄹ</option>
                                </select>
                            </div>
                            <div class="gpuName_category cate">
                                <div class="category_imgBox">

                                </div>
                                <div class="name_box"></div>
                                <select name="price" id="dropdown_list">
                                    <option value="1000">1000</option>
                                    <option value="11">11</option>
                                </select>
                            </div>
                            <div class="gpuName_category cate">
                                <div class="category_imgBox">

                                </div>
                                <div class="name_box"></div>
                                <select name="comName" id="dropdown_list">
                                    <option value="apple">apple</option>
                                    <option value="samsung">samsung</option>
                                    <option value="lg">LG</option>
                                    <option value="other">the other</option>
                                </select>
                            </div>
                            <div class="register_category cate">
                                <div class="category_imgBox">

                                </div>
                                <div class="name_box"></div>
                                <select name="register" id="dropdown_list">
                                    <option value="cpu1">cpu1</option>
                                    <option value="cpu2">cpu2</option>
                                    <option value="cpu3">cpu3</option>
                                    <option value="cpu4">cpu4</option>
                                </select>
                            </div>
                            <button type="submit" class="cate_formButton">GO</button>
                        </form>
                    </div>
                </div>

                <div class="homepageAD_contents">
                    <!-- result3으로 받아준다!! -->
                    <div class="title_box">
                        <h2 class="title">HOMEPAGE AD</h2>
                        <!-- result3로 통일한다. -->
                    </div>
                    <div class="AD_contents">
                        <th:block th:each="introduction: ${introductions}">
                            <div class="AD">
                                <div class="img_box" th:text="${introduction.title}"></div>
                                <div class="text_box" th:text="${introduction.content}"></div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="graph_contents">
                    <div class="title_box">
                        <h2 class="title">GRAPH</h2>
                    </div>
                    <div class="gph_contents">

                    </div>
                </div>
            </div>
        </main>
        <footer class="footer"></footer>
    </div>
</div>
</body>
</html>