
<body>
<div class="container">
    <header class="header">
        <div class="header_contents">
            <div class="main_logo">
                <h2><a href="">Stupping</a></h2>
            </div>

            <ul class="sub_nav">
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                <li><a href="/signUpPage">SignUp</a></li>
                <li><a href="/customer/myPage">MyPage</a></li>
                <!-- <li>
                    <form action="#" method="get" class="main_search">
                        <input type="search" name="userSearchItem" id="userSearchItem" placeholder="상품 or 회사이름">
                        <input type="submit" value="search">
                    </form>
                </li> -->

            </ul>
            <div class="sub_toggle_nav"></div>
            <form action="#" method="get" class="main_search_2">
                <input type="search" name="userSearchItem" id="userSearchItem" placeholder="상품 or 회사이름">
                <input type="submit" value="search">
            </form>
        </div> <!-- 여기는 fixed로 돼서 둥둥 떠다님. -->
        <div class="carousel">
            <!--사실상 첫 번째 요소 header제일 상단에 위치!-->
            <th:block th:each="topNotebook: ${topNotebooks}">
                <a th:data-parameter1="${topNotebook.id}" th:onclick="getItemById(this.getAttribute('data-parameter1'))" class="carousel_container">
                    <!-- a태그로 감쌌음. -->
                    <div class="item">
                        <div class="image">
                            <img th:src="'/display?name='+${topNotebook.img}" alt="" srcset="">
                        </div>
                    </div>
                </a>
            </th:block>
            <div class="carousel_shift">
                <th:block th:each="num : ${#numbers.sequence(1,3)}">
                    <div class="shift"></div>
                </th:block>
            </div>
        </div> <!-- ======= << carousel 끝 >> =======-->
    </header>
    <main class="main">
        <div class="content top8">
            <div class="text">
                <h4 id="title">TOP8</h4>
            </div>
            <div class="stage">
                <div class="carousel_3d">
                    <th:block th:each="recentNotebook : ${recentNotebooks}">
                        <div class="panel">
                            <a th:href="@{/notebookInfo(id=${recentNotebook.id})}" class="item_link">
                                <div class="item">
                                    <div th:text="${recentNotebookStat.count}" class="number"></div>
                                    <div class="item_img">
                                        <img th:src="'/display?name='+${recentNotebook.img}" alt="">
                                    </div>
                                    <div class="item_ex">
                                        <div class="text_box">
                                            <p th:text="|이름 : ${recentNotebook.name}|"></p>
                                            <p th:text="|가격 : ${recentNotebook.price}|"></p>
                                            <p th:text="|무게 : ${recentNotebook.weight}|"></p>
                                            <p th:text="|화면크기 : ${recentNotebook.screenSize}|"></p>
                                            <p th:text="|CPU : ${recentNotebook.cpuName}|"></p>
                                            <p th:text="|RAM : ${recentNotebook.ramSize}|"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="content category">
            <div class="text">
                <h4 id="title">category</h4>
            </div>
            <div class="category_container">
                <div class="category_box">
                    <th:block th:each="categoryName : ${categoryNames}">
                        <div class="category_items">
                            <div class="items_name">
                                <span th:text="${categoryName}"><h3></h3></span>
                            </div>
                            <div class="items_contents"></div>
                            <input type="button" value="search" class="cate_ajax_button">
                        </div>
                    </th:block>
                </div>
                <div class="category_ajax"></div>
            </div>
        </div>

        <div class="content advantage">
            <div class="text">
                <h4 id="title">홈페이지 장점</h4>
            </div>
            <div class="advantage_box">
                <th:block th:each="introduction: ${introductions}">
                    <div class="advantage_items">
                        <div class="logo">
                                <span>
                                    <h3 th:text="${introduction.title}"></h3>
                                </span>
                        </div>
                        <div th:text="${introduction.content}" class="ad_explain"></div>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="content good_buy">
            <div class="text">
                <h4 id="title">우잘사</h4>
            </div>
            <th:block th:each="tip: ${tips}">
                <div class="tip">
                    <div class="knowhow_method">
                            <span>
                                <h3 th:text="${tip.purpose}"></h3>
                            </span>
                    </div>
                    <ul class="knowhow_list">
                        <li th:text="${tip.explanation1}"></li>
                        <li th:text="${tip.explanation2}"></li>
                        <li th:text="${tip.explanation3}"></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </main>
    <footer class="footer"></footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>