<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/authMain.css">
    <script defer src="../../js/authMain.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header_contents">
                <div class="main_logo">
                    <h2><a href="">Stupping</a></h2>
                </div>

                <ul class="sub_nav">
                    <li><a href="http://localhost:3000/auth/sign-in">Login</a></li>
                    <li><a href="http://localhost:3000/auth/sign-up">signUp</a></li>
                    <li><a href="http://localhost:3000/auth/my-page">myPage</a></li>
                    <!-- <li>
                        <form action="#" method="get" class="main_search">
                            <input type="search" name="userSearchItem" id="userSearchItem" placeholder="상품 or 회사이름">
                            <input type="submit" value="search">
                        </form>
                    </li> -->

                </ul>
                <div class="sub_toggle_nav"></div>
                <form action="#" method="get" class="main_search_2">
                    <input type="search" name="userSearchItem" id="userSearchItem" placeholder="상품 or 회사이름">
                    <input type="submit" value="search">
                </form>
            </div> <!-- 여기는 fixed로 돼서 둥둥 떠다님. -->
            <div class="carousel">
                <!--사실상 첫 번째 요소 header제일 상단에 위치!-->
                <% for(let i=0; i<3; i++){ %>
                    <a href="" class="carousel_container">
                        <!-- a태그로 감쌌음. -->
                        <div class="item">
                            <div class="image">
                                <img src="../../img/notebook.png" alt="" srcset="">
                            </div>
                        </div>
                    </a>
                    <% } %>
                        <div class="carousel_shift">
                            <% for(let i=0; i<3; i++){ %>
                                <div class="shift"></div>
                                <% } %>
                        </div>
            </div> <!-- ======= << carousel 끝 >> =======-->
        </header>
        <nav class="main_nav">
            <ul class="main_bar">
                <li class="hover"><a href="">
                        <div class="menu_icon">
        
        
                        </div>
                    </a></li>
                <li class="hover"><a href="">
                        <div class="menu_icon">
                            <h1>TOP8</h1>
                            <img
                                src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-eight-womens-day-flatart-icons-outline-flatart./img/img.png" />
                        </div>
                    </a></li>
                <li class="hover"><a href="">
                        <div class="menu_icon">
                            <h1>CATEGORY</h1>
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/cat./img/img.png" />
                        </div>
                    </a></li>
                <li class="hover"><a href="">
                        <div class="menu_icon">
                            <h1>EXPLAIN</h1>
                            <img
                                src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-presentation-world-oceans-day-wanicon-lineal-wa./img/img.png" />
                        </div>
                    </a></li>
                <li class="hover"><a href="">
                        <div class="menu_icon">
                            <h1>TO BUY</h1>
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/sale-tim./img/img.png" />
                        </div>
                    </a></li>
                <li class="hover"><a href="">
                        <div class="menu_icon">
                            <h1>GRAPH</h1>
                            <img
                                src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-fill-vitaly-gorb./img/img.png" />
                        </div>
                    </a></li>
            </ul>
        </nav>
        <main class="main">
            <div class="main_container">
                <div class="top8 content">
                    <div class="title">
                        <h2>top8</h2>
                    </div>
                    <form class="top8_contents" method="get" action="/user/item-detail">
                        <% for(let i=0; i<3; i++){ %>
                            <div class="item_container">
                                <% for(let j=0; j<3; j++){ %>
                                    <div class="item_box">
                                        <div class="item_img"></div>
                                        <div class="item_contents">
                                            <h2 class="item_title">
                                                <%= result2.names %>
                                            </h2>
                                            <div class="item_price">
                                                <div class="price">
                                                    <h2>
                                                        <%= result2.prices %>$
                                                    </h2>
                                                </div>
                                                <div class="itemButtonBox">
                                                    <button class="submit" name="<%= result1._id %>">detail</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
                    </form>
                </div>
                <div class="content advantage">
                    <div class="text">
                        <h4 id="title">홈페이지 장점</h4>
                    </div>
                    <div class="advantage_box">
                        <% for(i=0; i<4; i++){ %>
                            <div class="advantage_items">
                                <div class="logo">
                                    <span>
                                        <h3>장점<% i %>
                                        </h3>
                                    </span>
                                </div>
                                <div class="ad_explain"></div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <!-- 우잘사 -->
                <div class="content good_buy">
                    <div class="text">
                        <h4 id="title">우잘사</h4>
                    </div>
                    <% for(i=0; i<4; i++){ %>
                        <div class="knowhow">
                            <div class="knowhow_method">
                                <span>
                                    <h3>노하우변수</h3>
                                </span>
                            </div>
                            <ul class="knowhow_list">
                                <li>방법변수</li>
                                <li>방법변수</li>
                                <li>방법변수</li>
                            </ul>
                        </div>
                        <% } %>
                </div>
            </div>
            
        </main>
        <footer class="footer"></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>

</html>