<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/findPw.css">
</head>
<body>
    <div class="container">
        <header class="header content">
            <!-- 캐러셀 박스!!!!!!!!!!-->
            <div class="search_box">
                <form action="#" class="search_form" method="post">
                    <input type="search" name="search" id="search" placeholder="모델명 or 회사이름">
                    <input type="submit" value="go" class="search_button">
                </form>
            </div>
            <nav class="sub_nav">
                <div class="logo">
                    <h1><a href="" class="stupping">stupping</a></h1>
                </div>
                <div class="sub_logo">
                    <ul class="sub">
                        <li><a href="http://localhost:3000/login">Login</a></li>
                        <li><a href="http://localhost:3000/authSignUp">Sign up</a></li>
                        <li><a href="http://localhost:3000/myPage">My Page</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="main">
            <div class="title">
                <h2>pw change</h2>
            </div>
            <form action="" method="get">
                <input type="text" name="" id="useriD" placeholder="아이디 입력"><br/>
                <input type="submit" value="아이디 확인">
                <div class="text">
                    <p><a href="http://localhost:3000/auth/sign-in/find-id">아이디 기억 안 나시나요?</a></p>
                </div>
            </form>
            
        </main>
    </div>
</body>
</html>