<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook Detail</title>

    <!-- css file -->
    <link rel="stylesheet" th:href="@{/css/sectionCss/reset.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/container.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/sideNav.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/header.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/users/notebookDetail.css(ver=${date})}">

    <!-- font style -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400&display=swap"
          rel="stylesheet">

    <!-- icon font-awsome -->
    <script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>

    <!-- js file -->
    <script defer th:src="@{/js/users/indexSection.js(ver=${date})}"></script>
</head>

<body>
<div class="container">
    <div class="category__container">
        <i class="fa-solid fa-xmark close__button"></i>
        <div class="category__title">Category</div>
        <div class="category__list">
            <ul class="category__nav">
                <li>
                    <span><i class="fa-solid fa-building"></i></span>
                    <span>SupplierName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-microchip"></i></span>
                    <span>CpuName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-g"></i></span>
                    <span>GpuName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-calendar-days"></i></span>
                    <span>RegisterDate</span>
                </li>
            </ul>
        </div>
        <form action="/notebooks" method="get" class="category__contents">
            <div class="box" th:each="category: ${categories}">
                <div class="box__container" th:each="elem: ${category.value}">
                    <label th:for="|${category.key}Input${elemStat.count}|" th:text="${elem}"></label>
                    <input type="checkbox" th:name="${category.key}" th:id="|${category.key}Input${elemStat.count}|" th:value="${elem}">
                </div>
            </div>
            <div class="button__box">
                <button type="submit" class="category__button">submit</button>
            </div>
        </form>
    </div>
    <nav class="side__nav">
        <div class="main__title">
            <div class="category__logo">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="main__logo">
                <a href="/">Stupping</a>
            </div>
        </div>
        <div class="main__nav">
            <ul class="main__list">
                <li class="list"><a href="/new8Page">
                    <div class="real__logo">
                        <i class="fa-solid fa-ranking-star"></i>
                        <span class="nav__title">New</span>
                    </div>
                </a></li>
                <li class="list"><a href="notebookAllPage">
                    <div class="real__logo">
                        <i class="fa-solid fa-laptop"></i>
                        <span class="nav__title">Notebooks</span>
                    </div>
                </a></li>
                <li sec:authorize="hasRole('ROLE_CUSTOMER')" class="list"><a href="/tipPage">
                    <div class="real__logo">
                        <i class="fa-solid fa-face-smile"></i>
                        <span class="nav__title">Tips</span>
                    </div>
                </a></li>
                <li sec:authorize="hasRole('ROLE_SUPPLIER')" class="list"><a href="/notebookAddPage">
                    <div class="real__logo">
                        <i class="fa-solid fa-face-smile"></i>
                        <span class="nav__title">Add Notebook</span>
                    </div>
                </a></li>
                <li sec:authorize="hasRole('ROLE_CUSTOMER')" class="list"><a href="/">
                    <div class="real__logo">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nav__title">Sales</span>
                    </div>
                </a></li>
                <li sec:authorize="hasRole('ROLE_SUPPLIER')" class="list"><a href="/">
                    <div class="real__logo">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nav__title">Compare</span>
                    </div>
                </a></li>
            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="search__bar">
            <form action="/notebooksInfo" method="get">
                <input type="search" name="notebook" id="" placeholder="회사 이름 or 상품 이름">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <nav class="header__subnav">
            <ul class="header__sub__list">
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i><p>Login</p></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa-duotone fa-user-minus"></i><p>Logout</p></a></li>
                <li><a href="/signUpPage"><i class="fa-solid fa-user-plus"></i><p>signUp</p></a></li>
                <li><a href="/customer/myPage"><i class="fa-solid fa-user"></i><p>myPage</p></a></li>
            </ul>
        </nav>
        <div class="sub__nav__logo">
            <i class="fa-solid fa-bars sub__nav__logo"></i>
        </div>
    </header>
    <!-- main 보류(이미지 수정 및 상품 설명 대화가 필요할듯) -->
</div>
</body>

</html>