<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/css/sectionCss/reset.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/container.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/sideNav.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/header.css(ver=${date})}">
    <link rel="stylesheet" th:href="@{/css/sectionCss/users/login.css(ver=${date})}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/users/indexSection.js(ver=${date})}"></script>
</head>

<body>
<div class="container">
    <div class="category__container">
        <i class="fa-solid fa-xmark close__button"></i>
        <div class="category__title">Category</div>
        <div class="category__list">
            <ul class="category__nav">
                <li>
                    <span><i class="fa-solid fa-building"></i></span>
                    <span>SupplierName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-microchip"></i></span>
                    <span>CpuName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-g"></i></span>
                    <span>GpuName</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-calendar-days"></i></span>
                    <span>RegisterDate</span>
                </li>
            </ul>
        </div>
        <form action="/notebooks" method="get" class="category__contents">
            <div class="box" th:each="category: ${categories}">
                <div class="box__container" th:each="elem: ${category.value}">
                    <label th:for="|${category.key}Input${elemStat.count}|" th:text="${elem}"></label>
                    <input type="checkbox" th:name="${category.key}" th:id="|${category.key}Input${elemStat.count}|" th:value="${elem}">
                </div>
            </div>
            <div class="button__box">
                <button type="submit" class="category__button">submit</button>
            </div>
        </form>
    </div>
    <nav class="side__nav">
        <div class="main__title">
            <div class="category__logo">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="main__logo">
                <a href="/">Stupping</a>
            </div>
        </div>
        <div class="main__nav">
            <ul class="main__list">
                <li class="list"><a href="/new8Page">
                    <div class="real__logo">
                        <i class="fa-solid fa-ranking-star"></i>
                        <span class="nav__title">New</span>
                    </div>
                </a></li>
                <li class="list"><a href="">
                    <div class="real__logo">
                        <i class="fa-solid fa-laptop"></i>
                        <span class="nav__title">notebook</span>
                    </div>
                </a></li>
                <li class="list"><a href="/buyer/index">
                    <div class="real__logo">
                        <i class="fa-solid fa-face-smile"></i>
                        <span class="nav__title">tip</span>
                    </div>
                </a></li>
                <li class="list"><a href="">
                    <div class="real__logo">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nav__title">graph</span>
                    </div>
                </a></li>
            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="search__bar">
            <form action="/notebooksInfo" method="get">
                <input type="search" name="notebook" id="" placeholder="회사 이름 or 상품 이름">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <nav class="header__subnav">
            <ul class="header__sub__list">
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i><p>Login</p></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa-duotone fa-user-minus"></i><p>Logout</p></a></li>
                <li><a href="/signUpPage"><i class="fa-solid fa-user-plus"></i><p>signUp</p></a></li>
                <li><a href="/customer/myPage"><i class="fa-solid fa-user"></i><p>myPage</p></a></li>
            </ul>
        </nav>
        <div class="sub__nav__logo">
            <i class="fa-solid fa-bars sub__nav__logo"></i>
        </div>
    </header>
    <main class="section login__section">
        <div class="login__container">
            <div class="login__explain">
                1
            </div>
            <div class="login__box">
                <form class="login__form" th:action="@{/login}" method="post">
                    <div class="login__title">
                        <h2 id="title">Sign In</h2>
                    </div>
                    <div class="login__main">
                        <div class="login__text">
                            <p>
                                <span class="icon id__icon"><i class="fa-solid fa-id-badge"></i></span>
                                <input type="text" name="id" id="userID" placeholder="ID">
                            </p>
                            <p>
                                <span class="icon pw__icon"><i class="fa-solid fa-lock"></i></span>
                                <input type="password" name="password" id="userPW" placeholder="PW">
                            </p>
                            <button type="submit" class="login__submit__button">LOGIN</button>
                            <div class="login__otherway">
                                    <span class="other__icon instagram">
                                        <i class="fa-brands fa-instagram"></i>
                                    </span>
                                <span class="other__icon github">
                                        <i class="fa-brands fa-github"></i>
                                    </span>
                                <span class="other__icon facebook">
                                        <i class="fa-brands fa-facebook"></i>
                                    </span>
                            </div>
                            <div class="find__account">
                                <a href="/userIdFindPage" class="find__id">find ID</a>
                                <a href="/changePasswordWithoutLogin" class="find__pw">find PW</a>
                            </div>
                        </div>
                    </div>
                    <div class="login__footer"></div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>

</html>