<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SignUp Page</title>
	<link rel="stylesheet" th:href="@{/css/sectionCss/reset.css(ver=${date})}">
	<link rel="stylesheet" th:href="@{/css/sectionCss/container.css(ver=${date})}">
	<link rel="stylesheet" th:href="@{/css/sectionCss/sideNav.css(ver=${date})}">
	<link rel="stylesheet" th:href="@{/css/sectionCss/header.css(ver=${date})}">
	<link rel="stylesheet" th:href="@{/css/sectionCss/users/signUp.css(ver=${date})}">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400&display=swap"
		  rel="stylesheet">
	<script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>
	<script defer th:src="@{/js/users/indexSection.js(ver=${date})}"></script>
</head>

<body>
<div class="container">
	<div class="category__container">
		<i class="fa-solid fa-xmark close__button"></i>
		<div class="category__title">Category</div>
		<div class="category__list">
			<ul class="category__nav">
				<li>
					<span><i class="fa-solid fa-building"></i></span>
					<span>SupplierName</span>
				</li>
				<li>
					<span><i class="fa-solid fa-microchip"></i></span>
					<span>CpuName</span>
				</li>
				<li>
					<span><i class="fa-solid fa-g"></i></span>
					<span>GpuName</span>
				</li>
				<li>
					<span><i class="fa-solid fa-calendar-days"></i></span>
					<span>RegisterDate</span>
				</li>
			</ul>
		</div>
		<form action="/notebooks" method="get" class="category__contents">
			<div class="box" th:each="category: ${categories}">
				<div class="box__container" th:each="elem: ${category.value}">
					<label th:for="|${category.key}Input${elemStat.count}|" th:text="${elem}"></label>
					<input type="checkbox" th:name="${category.key}" th:id="|${category.key}Input${elemStat.count}|" th:value="${elem}">
				</div>
			</div>
			<div class="button__box">
				<button type="submit" class="category__button">submit</button>
			</div>
		</form>
	</div>
	<nav class="side__nav">
		<div class="main__title">
			<div class="category__logo">
				<i class="fa-solid fa-bars"></i>
			</div>
			<div class="main__logo">
				<a href="/static">Stupping</a>
			</div>
		</div>
		<div class="main__nav">
			<ul class="main__list">
				<li class="list"><a href="">
					<div class="real__logo">
						<i class="fa-solid fa-ranking-star"></i>
						<span class="nav__title">top8</span>
					</div>
				</a></li>
				<li class="list"><a href="">
					<div class="real__logo">
						<i class="fa-solid fa-laptop"></i>
						<span class="nav__title">notebook</span>
					</div>
				</a></li>
				<li class="list"><a href="/buyer/index">
					<div class="real__logo">
						<i class="fa-solid fa-face-smile"></i>
						<span class="nav__title">tip</span>
					</div>
				</a></li>
				<li class="list"><a href="">
					<div class="real__logo">
						<i class="fa-solid fa-chart-line"></i>
						<span class="nav__title">graph</span>
					</div>
				</a></li>
			</ul>
		</div>
	</nav>
	<header class="header">
		<div class="search__bar">
			<form action="/notebooksInfo" method="get">
				<input type="search" name="notebook" id="" placeholder="회사 이름 or 상품 이름">
				<button type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
		<nav class="header__subnav">
			<ul class="header__sub__list">
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i><p>Login</p></a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa-duotone fa-user-minus"></i><p>Logout</p></a></li>
				<li><a href="/signUpPage"><i class="fa-solid fa-user-plus"></i><p>signUp</p></a></li>
				<li><a href="/customer/myPage"><i class="fa-solid fa-user"></i><p>myPage</p></a></li>
			</ul>
		</nav>
		<div class="sub__nav__logo">
			<i class="fa-solid fa-bars sub__nav__logo"></i>
		</div>
	</header>
	<main class="section">
		<div class="sign-up__section">
			<div class="sign-up__title">
				<h2 id="title">Sign Up</h2>
			</div>
			<form class="sign-up__contents" method="post" action="/signUp">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="input__box">
					<div class="input__label">
						<h2>역할</h2>
					</div>
					<div class="input">
						<th:block th:each="role: ${roles}" th:if="${!role.name().equals('ADMIN')}">
							<label th:for=${role} th:text="${role.getDisplay()}"></label>
							<input type="radio" name="role" th:value="${role}" th:id=${role}>
							<span th:if="${roleStat.index==1}" class="radio__span"></span>
						</th:block>
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>성별</h2>
					</div>
					<div class="input">
						<label for="man">남자</label>
						<input type="radio" name="man" value=true id="man">
						<span class="radio__span"></span>
						<label for="woman">여자</label>
						<input type="radio" name="man" value=false id="woman">
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>아이디</h2>
					</div>
					<div class="input">
						<label for="userID"></label>
						<input type="text" name="id" id="userID" required>
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>이름</h2>
					</div>
					<div class="input">
						<label for="userName"></label>
						<input type="text" name="name" id="userName" required>
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>패스워드</h2>
					</div>
					<div class="input">
						<label for="userPW"></label>
						<input type="password" name="password" id="userPW" required>
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>핸드폰번호</h2>
					</div>
					<div class="input">
						<label for="userPhone"></label>
						<input type="text" name="phoneNum" id="userPhone">
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>이메일</h2>
					</div>
					<div class="input">
						<label for="userEmail"></label>
						<input type="email" name="email" id="userEmail" required>
					</div>
				</div>

				<div class="input__box">
					<div class="input__label">
						<h2>은행</h2>
					</div>
					<div class="input">
						<label for="userBank"></label>
						<select name="bank" id="userBank">
							<option value="신한">신한</option>
							<option value="국민">국민</option>
							<option value="우리">우리</option>
						</select>
					</div>
				</div>

				<div class="input__box">
					<div class="input__label">
						<h2>생년월일</h2>
					</div>
					<div class="input">
						<label for="userBirth"></label>
						<input type="date" min="1900-01-01" name="birth" id="userBirth">
					</div>
				</div>
				<div class="input__box">
					<div class="input__label">
						<h2>계좌</h2>
					</div>
					<div class="input">
						<label for="userAccount"></label>
						<input type="text" name="accountNumber" id="userAccount">
					</div>
				</div>
				<div class="input__button__box">
					<input type="submit" value="회원가입" class="signUp__button">
				</div>
			</form>
		</div>
	</main>
</div>
</body>

</html>