/*  ============= << 반응형 웹 단위 >> =============
em : 부모의 font-size의 크기를 기준으로 삼음
==> 근데 단점이 하나 있어.. 만약 부모가 엄청 많은데 em을 난발하게되면 나중가면 도대체 
크기가 뭐였지... ex)루트 16px의 자식이 0.8em 그 자식이 0.8em 또 그 자식이..0.4em
그럼 계산하기도 복잡하고 힘들다.

====> 따라서 em(앰)대신 루트 16px을 기준으로 한 rem(램~)을 사용하자 
그럼 절대값이 html이다보니 바로바로 수치를 알 수 있음.

==> html이 20px이면 20px기준 16px이면 16px기준으로 된다. 즉 루트의 값이 기준값으로 지정된다.
따라서 font-size는 무조건 rem을 써줘라!!!!!!
px은 되도록이면 쓰지말자!!!

==> 글고 font값이 커지면 padding값도 같이 커지도록 해줘야 이쁘다

==> em은 부모 font-size의 크기에 영향을 받을 때!!!
==> rem은 부모와는 상관없이 그냥 크기를 지정할 때!!!!

====> 결국 rem(램)을 더 자주써라!! em은 난발하게되면 헷갈릴 수 있음.
====> padding은 현재 font-size에 영향을 받는다.


====================== << media query >> ======================
max : ~이하
min : ~이상
min-width : 650px  max-width : 1200px;
650px이상 1200px이하일때는~~~~

*/
body{
    margin : 0;
    background-color: orange;
}
@media screen and (max-width : 1000px){
    body{
        background-color : green;
    }
}
