<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/myPicks.css">
</head>

<body>
    <!-- 반복문 써서 내가 본 상품 전부 출력하기! -->
    <div class="container">
        <div class="title">
            <h3>찜 목록</h3>
        </div>
        
        <div class="item_container">
            <!-- 자바스크립트로 item이 4개가 되면 item_box를 createElement로 생성하자!-->
            <ul class="item_list_box">
                <li class="item">

                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    
</script>
</html>