<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css(ver=${date})}">
	<script defer th:href="@{/js/main.js(ver=${date})}"></script>
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Lobster&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<script defer src="/js/main.js"></script>
</head>

<body>
	<div class="container">
		<div class="container_contents">
			<header class="header content">
				<!-- 캐러셀 박스!!!!!!!!!!-->
				<div class="carousel_container">
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
				</div>
				<!-- 캐러셀 박스!!!!!!!!!!-->
				<div class="shift_box">
					<div class="shift"></div>
					<div class="shift"></div>
					<div class="shift"></div>
				</div>

				<nav class="sub_nav">
					<div class="logo">
						<h1><a href="" class="stupping">stupping</a></h1>
					</div>
					<div class="sub_logo">
						<ul class="sub">
							<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
							<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
							<li><a href="/signUpPage">SignUp</a></li>
							<li><a href="/customer/myPage">MyPage</a></li> 
							<li sec:authorize="isAuthenticated()"><a href="/customer/myPage">Bucket</a></li>
						</ul>
					</div>
				</nav>
			</header>

			<nav class="main_nav">
				<ul class="main_bar">
					<li class="hover"><a href="">
							<div class="menu_icon">


							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>TOP8</h1>
								<img
									src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-eight-womens-day-flatart-icons-outline-flatarticons.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>CATEGORY</h1>
								<img src="https://img.icons8.com/ios-glyphs/30/000000/category.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>EXPLAIN</h1>
								<img
									src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-presentation-world-oceans-day-wanicon-lineal-wanicon.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>TO BUY</h1>
								<img src="https://img.icons8.com/pastel-glyph/64/000000/sale-time--v2.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>GRAPH</h1>
								<img
									src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />
							</div>
						</a></li>
				</ul>
			</nav>
			<main class="main">
				<div class="content top8">
					<div class="text">
						<h3 id="title">TOP8</h3>
					</div>
					<div class="stage">
						<div class="carousel_3d">
							<!-- 여기에 반복문!!-->
							<div class="panel_box" th:each="recentNotebook : ${recentNotebooks}">
								<a href="">
									<div class="item">
										<div class="item_img">
											<img th:value="${recentNotebook.img}" src="./ph1.png" alt="">
										</div>
										<div class="item_ex">
											<div class="text_box">
												<p th:value="${recentNotebook.name}">이름 : </p>
												<p th:value="${recentNotebook.price}">가격 : </p>
												<p th:value="${recentNotebook.weight}" class="hover">무게 : </p>
												<p th:value="${recentNotebook.screenSize}" class="hover">스크린크기 : </p>
												<p th:value="${recentNotebook.cpuName}" class="hover">cpu이름 : </p>
												<p th:value="${recentNotebook.ramSize}" class="hover">ram크기 : </p>
											</div>
										</div>
									</div>
								</a></div>
							<!-- 여기에 반복문! -->
						</div>
					</div>
				</div>
				<div class="content category">
					<h3 id="title">카테고리</h3>
					<div class="category_content">
						<ul class="cate_nav">
							<li class="cate_list"><a href="">
									<div class="cate_box">
										<div class="cate_img">
											<div class="cate_img_box">
												<img src="./cpu.png" alt="">
											</div>
											<div class="cate_title_box">
												<h1>cpu</h1>
											</div>
										</div>
										<div class="cate_real"></div>
									</div>
								</a></li>
							<li class="cate_list"><a href="">
									<div class="cate_box">
										<div class="cate_img">
											<div class="cate_img_box">
												<img src="./cpu.png" alt="">
											</div>
											<div class="cate_title_box">
												<h1>cpu</h1>
											</div>
										</div>
										<div class="cate_real"></div>
									</div>
								</a></li>
							<li class="cate_list"><a href="">
									<div class="cate_box">
										<div class="cate_img">
											<div class="cate_img_box">
												<img src="./cpu.png" alt="">
											</div>
											<div class="cate_title_box">
												<h1>cpu</h1>
											</div>
										</div>
										<div class="cate_real"></div>
									</div>
								</a></li>
							<li class="cate_list"><a href="">
									<div class="cate_box">
										<div class="cate_img">
											<div class="cate_img_box">
												<img src="./cpu.png" alt="">
											</div>
											<div class="cate_title_box">
												<h1>cpu</h1>
											</div>
										</div>
										<div class="cate_real"></div>
									</div>
								</a></li>
						</ul>
					</div>
				</div>
				<div class="explain content">
					<div class="explain_content">
						<h3 id="title">홈페이지 장점</h3>
						<div class="advantage">
							<div class="ad_1 ad">
								<div class="ad_text">
									<div class="img_ex">
										<img
											src="https://img.icons8.com/external-outline-geotatah/64/000000/external-explain-microeconomics-outline-geotatah.png" />
									</div>
									<div class="ad_title">
										<h2>kind explain</h2>
									</div>
									<div class="sentence">
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
											Aut nam animi quae quibusdam quod quia consequatur
											illo sunt soluta modi natus sapiente amet,
											iure ipsum culpa tenetur tempora repellat rem.</p>
									</div>
								</div>
							</div>
							<div class="ad_2 ad">
								<div class="ad_text">
									<div class="img_ex">
										<img src="https://img.icons8.com/wired/64/000000/simple-app.png" />
									</div>
									<div class="ad_title">
										<h2>Simple UI</h2>
									</div>
									<div class="sentence">
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
											Aut nam animi quae quibusdam quod quia consequatur
											illo sunt soluta modi natus sapiente amet,
											iure ipsum culpa tenetur tempora repellat rem.</p>
									</div>
								</div>
							</div>
							<div class="ad_3 ad">
								<div class="ad_text">
									<div class="img_ex">
										<img
											src="https://img.icons8.com/external-tulpahn-basic-outline-tulpahn/48/000000/external-kind-emotion-tulpahn-basic-outline-tulpahn.png" />
									</div>
									<div class="ad_title">
										<h2>Easy choice</h2>
									</div>
									<div class="sentence">
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
											Aut nam animi quae quibusdam quod quia consequatur
											illo sunt soluta modi natus sapiente amet,
											iure ipsum culpa tenetur tempora repellat rem.</p>
									</div>
								</div>
							</div>
							<div class="ad_4 ad">
								<div class="ad_text">
									<div class="img_ex">
										<img src="https://img.icons8.com/carbon-copy/100/000000/graph.png" />
									</div>
									<div class="ad_title">
										<h2>With graph</h2>
									</div>
									<div class="sentence">
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
											Aut nam animi quae quibusdam quod quia consequatur
											illo sunt soluta modi natus sapiente amet,
											iure ipsum culpa tenetur tempora repellat rem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="to_buy content">
					<div class="to_buy_content">
						<h3 id="title">잘 사는 법</h3>
						<div class="method">
			
						</div>
					</div>
				</div>
				<div class="graph content">
					<h3 id="title">그래프 비교</h3>
					<div class="graph_content">
						<div class="left"></div>
						<div class="right"></div>
						<div class="examples"></div>
					</div>
				</div>
			</main>
			</div>
			</div>
			
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"
				integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
			
			
			</body>
			
			</html>
