<!DOCTYPE HTML>
<html>
<head>
 <title>Stupping</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Hello, Commander?</h1>
	<hr>
	<p><a href="/members">To See Member List</a></p>
	<p><a href="/memberAddPage">To Add Member</a></p>
	<p><a href="/passwordChangePage">To Change Password</a></p>
	<hr>
	<hr>
	<a href="/userIdFindPage">To Find Your Id</a>
	<a href="/passwordFindPage">To Find Your Password</a>
	<a href="/userDeletePage">To Withdrawal Your Account</a>
	<hr>
</body>
</html>