<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css(ver=${date})}">
	<script defer th:href="@{/js/main.js(ver=${date})}"></script>
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Lobster&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Single+Day&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
		rel="stylesheet">
	<script defer src="./userMain.js"></script>
</head>

<body>
	<div class="container">
		<div class="container_contents">
			<header class="header content">
				<!-- 캐러셀 박스!!!!!!!!!!-->
				<div class="carousel_container">
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
					<div class="box">
						<div class="text_box">
							<h1 class="title">Mac Book</h1>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Fuga nam iusto dolores quod iste soluta velit repellendus enim quam laboriosam,
							</p>
						</div>
						<img src="./img/img.png" alt="">
					</div>
				</div>
				<!-- 캐러셀 박스!!!!!!!!!!-->
				<div class="shift_box">
					<div class="shift"></div>
					<div class="shift"></div>
					<div class="shift"></div>
				</div>

				<nav class="sub_nav">
					<div class="logo">
						<h1><a href="" class="stupping">stupping</a></h1>
					</div>
					<div class="sub_logo">
						<ul class="sub">
							<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
							<li><a href="/signUpPage">SignUp</a></li>
							<li><a href="/customer/myPage">MyPage</a></li> 
							<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
							<li sec:authorize="isAuthenticated()"><a href="/customer/myPage">Bucket</a></li>
						</ul>
					</div>
				</nav>
			</header>

			<nav class="main_nav">
				<ul class="main_bar">
					<li class="hover"><a href="">
							<div class="menu_icon">


							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>TOP8</h1>
								<img
									src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-eight-womens-day-flatart-icons-outline-flatarticons.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>CATEGORY</h1>
								<img src="https://img.icons8.com/ios-glyphs/30/000000/category.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>EXPLAIN</h1>
								<img
									src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-presentation-world-oceans-day-wanicon-lineal-wanicon.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>TO BUY</h1>
								<img src="https://img.icons8.com/pastel-glyph/64/000000/sale-time--v2.png" />
							</div>
						</a></li>
					<li class="hover"><a href="">
							<div class="menu_icon">
								<h1>GRAPH</h1>
								<img
									src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />
							</div>
						</a></li>
				</ul>
			</nav>
			<main class="main">
				<div class="content top8">
					<div class="text">
						<h1 class="title">TOP8</h1>
					</div>
					<div class="item_card">
						<div class="item_1 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_2 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_3 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_3 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_3 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_3 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
						<div class="item_3 items">
							<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-witb-spacegray-202110_FMT_WHH?wid=592&hei=784&fmt=p-jpg&qlt=95&.v=1633027249000"
								alt="">
						</div>
					</div>
				</div>
				<div class="content category">
					<div class="category_content">
						카테고리
					</div>
				</div>
				<div class="explain content">
					<div class="explain_content">
						홈페이지 장점 설명
					</div>
				</div>
				<div class="to_buy content">
					<div class="to_buy_content">
						잘 사는 법
					</div>
				</div>
				<div class="graph content">
					<div class="graph_content">
						그래프
					</div>
				</div>
			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>

</html>