<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
 <title>Notebook Category Search Page</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 	form.form-example {
    	display: table;
	}
	
	div.form-example {
	    display: table-row;
	}
	
	label, input {
	    display: table-cell;
	    margin-bottom: 10px;
	}
	
	label {
	    padding-right: 10px;
	}
 </style>
</head>
<body>
	<h1>Search Notebook</h1>
	<hr>
	<form action="/notebooksInfo/category" method="get" class="form-example">
	  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	  <div class="form-example">
	    <label for="name">Supplier Name</label>
	    <div th:each="SupplierName : ${SupplierNames}" class="form-check">
	      <input type="checkbox" th:field="*{SupplierNames}" th:value="${SupplierName}" class="form-check-input">
    	  <label th:text="${SupplierName}" class="form-check-label"></label>
	    </div>
	  </div>
	  <div class="form-example">
	    <label for="name">Cpu Name</label>
	    <div th:each="CpuName : ${CpuNames}" class="form-check">
	      <input type="checkbox" th:field="*{CpuNames}" th:value="${CpuName}" class="form-check-input">
    	  <label th:text="${CpuName}" class="form-check-label"></label>
	    </div>
	  </div>
	  <div class="form-example">
	    <label for="name">Gpu Name</label>
	    <div th:each="GpuName : ${GpuNames}" class="form-check">
	      <input type="checkbox" th:field="*{GpuNames}" th:value="${GpuName}" class="form-check-input">
    	  <label th:text="${GpuName}" class="form-check-label"></label>
	    </div>
	  </div>
	  <div class="form-example">
	    <label for="name">Manufacture Year</label>
	    <div th:each="ManuYear : ${ManuYears}" class="form-check">
	      <input type="checkbox" th:field="*{ManuYears}" th:value="${ManuYear}" class="form-check-input">
    	  <label th:text="${ManuYear}" class="form-check-label"></label>
	    </div>
	  </div>
	  <div class="form-example">
	    <input type="submit" value="Subscribe!">
	  </div>
	</form>
	<hr>
</body>
</html>