<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Product Info Page</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Product Info</h1>
	<hr>
	<table style="width:100%">
	    <tr style="background-color:lightgrey">
	        <th>상품명</th>
	        <th>카테고리</th>
	        <th>가격</th>
	        <th>이미지</th>
	        <th>판매사</th>
	        <th>조회수</th>
	        <th>별점</th>
	        <th>구매수</th>
	        <th>게시일</th>
	    </tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.name}"></td>
			<td th:text="${product.category}"></td>
			<td th:text="${product.price}"></td>
			<td th:text="${product.img}"></td>
			<td th:text="${product.seller}"></td>
			<td th:text="${product.view}"></td>
			<td th:text="${product.rate}"></td>
			<td th:text="${product.salesVolume}"></td>
			<td th:text="${product.date}"></td>
		</tr>
	</table>
	<hr>
</body>
</html>