<!DOCTYPE HTML>
<!-- xmlns:th 유지 요망!! -->
<html xmlns:th="http://www.thymeleaf.org" >
<head>
 <title>Remote Page</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 	form.form-example {
    	display: table;
	}
	
	div.form-example {
	    display: table-row;
	}
	
	label, input {
	    display: table-cell;
	    margin-bottom: 10px;
	}
	
	label {
	    padding-right: 10px;
	}
 </style>
</head>
<body>
	<h1>Report</h1>
	<hr>
	<!-- action 유지 및 이하 name 유지 요망!! -->
	<form action="report" method="post" class="form-example">
		<!-- input 태그 유지 요망!! -->
	  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	  <div class="form-example">
	    <label for="reporterID">Enter your id: </label>
	    <input type="text" name="reporterID" id="reporterID" required>
	  </div>
	  <div class="form-example">
	    <label for="reporteeID">Enter your password: </label>
	    <input type="password" name="password" id="password" required>
	  </div>
	  <div class="form-example">
	    <label for="reason">Enter your name: </label>
	    <input type="text" name="name" id="name" required>
	  </div>
	  <div class="form-example">
	    <input type="submit" value="Subscribe!">
	  </div>
	</form>
	<hr>
</body>
</html>