<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signIn.css">
    <link
        href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&family=Hi+Melody&family=Island+Moments&family=Single+Day&family=Sunflower:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!--font awsome!-->
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Single+Day&display=swap"
        rel="stylesheet">
    <style>
       
    </style>
</head>
<body>
    <div class="main_logo">
        <i class="fas fa-users"></i>
    </div>
    <div class="wrapper">      
        <div class="wrapper_content">
            <div class="logo">
                <h1><a href="">로그인</a></h1>
            </div>
            <div class="formInput">
                <form action="login" method="post">
                    <div class="userId user">
                        <div class="id_logo">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="id_input">
                            <input type="search" name="userId" id="userId" placeholder="ID">
                        </div>
                    </div>
                    <div class="userPW user">
                        <div class="pw_logo">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div class="pw_input">
                            <input type="password" name="password" id="password" placeholder="PW">
                        </div>
                    </div>
                    <div class="user button_box">
                       <input type="submit" value="LOGIN">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>