*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    border-collapse: collapse;
    /*dsdsd*/
}
html,body{
    min-height : 100vh;
    background-color: rgb(61, 60, 60);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.title{
    width : fit-content;
    height : fit-content;
    padding : 1% 2%;
    position : absolute;
    top : 10px;
    left : 50%;
    transform : translateX(-50%);
    color : white;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.container{
    position : absolute;
    width : 70vw;
    height : 70vh;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    display : flex;
}
.container > .admin_nav{
    flex-grow : 1;
    background-color: black;
}
.container>.admin_nav:hover{

}
.container > .contents{
    flex-grow: 8;
    background-color: deepskyblue;
}
.container > .admin_nav{
    display : flex;
    flex-direction: column;
}
.admin_nav > *{
    flex-grow: 1;
    /* border : 2px solid black; */
    display : flex;
    justify-content: center;
    align-items: center;
}
.admin_nav> .list:hover{
    background-color: gray;
    transition : all 0.5s;
}
.admin_nav > .list > .list_title{
    width : 80%;
    height : 80%;
    /* border : 3px solid black; */
    display : flex;
    justify-content: center;
    align-items: center;
}
.admin_nav >.list a{
    color : white;
    font-family: 'Josefin Sans', sans-serif;
}