.section {
    box-shadow: 25px 25px 50px rgba(9, 148, 255, 0.25),
        -10px -10px 30px rgba(9, 148, 255, 0.1),
        inset -5px -5px 15px rgba(9, 148, 255, 0.5);
    border-radius: 20px;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: hidden;
    /* border : 2px solid black; */
    display: flex;
    flex-direction: column;
}

.section>* {
    /* border : 1px solid black; */
}

.section>.top8__title {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 2vh 2vw;
}

/* title옆에 정렬순 */
#sort__input {
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-weight: 700;
    margin: 0 3vw;
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#sort__input>option {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    font-size: 0.7rem;
    font-weight: 700;
}

.section>.top8__itembox {
    /*겉의 box => 크기 고정 시켜줘야함. */
    overflow-y: hidden;
    min-height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    /* border : 4px solid black; */
}

.top8__item__container {
    width: 100%;
    min-height: 150%;
    max-height: 150%;
    /* border : 4px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2vh;
    padding: 1vh 1vw;
}

/*card design*/
.item__card {
    /* whole card layout */
    box-shadow: rgba(102, 208, 253, 0.982) 0px 4px 6px,
        rgb(41, 114, 146) 0px 10px 15px -5px,
        rgb(206, 231, 248) 1px -4px 1px inset;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2fr;
    grid-auto-rows: 1fr;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}

.item__card:hover {
    transition: all 0.5s;
    box-shadow: rgb(186, 221, 251) 3px 3px 6px 0px inset,
        rgb(41, 114, 146) 0px 10px 15px -5px,
        rgb(25, 192, 247) -3px -3px 6px 1px inset;

}

.item__card>.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border : 2px solid black; */
}

.card__img>.img {
    min-width: 90%;
    max-width : 90%;
    min-height: 90%;
    max-height : 90%;
    /* border : 1px solid black; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 10px;
}

.img>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/* << card contents design >> */
.card__contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__contents>.contents__box {
    width: 90%;
    height: 90%;
    box-shadow: rgb(178, 215, 247) 3px 3px 6px 0px inset,
        rgb(157, 185, 216) -3px -3px 6px 1px inset;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1vh
}

.contents__box>* {
    /* border : 1px solid black; */
    text-align: center;
}

.contents__box>.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents__box span[class="unit"] {
    display: block;
    font-size: 0.7rem;
    color: gray;
}

.contents__box span[class='title'] {
    font-size: 0.8rem;
}

span[class='unit__'] {
    font-size: 0.7rem;
}

.card__title {
    font-size: 0.9rem;
}

.card__title,
.card__price {
    grid-column: 1/3;
    color: #0994ff;
    font-weight: 700;
}

/* responsible web media query */
/* tablet pc */
@media screen and (max-width : 1024px) {
    .top8__item__container {
        min-height: 220%;
        max-height: 220%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1vh 3vw;
    }
}

/* mobile - tablet pc */
@media screen and (max-width : 768px) {
    .top8__item__container {
        min-height: 300%;
        max-height: 300%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1vh 5vw;
    }
}

/* mobile */
@media screen and (max-width : 500px) {
    .top8__item__container {
        min-height: 600%;
        max-height: 600%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 1vh 7vw;
        padding: 0 8vw;
    }
}