<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Member Info Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Member Info</h1>
    <hr>
    <table style="width:100%">
        <tr style="background-color:lightgrey">
            <th>주문 ID</th>
            <th>구매자 ID</th>
            <th>판매자 ID</th>
            <th>노트북 ID</th>
            <th>주문 상태</th>
            <th>결제일</th>
            <th>배송일</th>
            <th>결제 금액</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order._id}"></td>
            <td th:text="${order.customerId}"></td>
            <td th:text="${order.supplierId}"></td>
            <td th:text="${order.notebookId}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.payDate}"></td>
            <td th:text="${order.deliverdDate}"></td>
            <td th:text="${order.payment}"></td>
        </tr>
    </table>
    <hr>
</body>

</html>
