*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    min-height : 100vh;
}
body{
    background-image: url("https://static.hubzum.zumst.com/hubzum/2018/06/25/14/d6c40f900561471d9970f5dbf22f2cc9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login_container{
    position : absolute;
    width : 100vw;
    height : 60vh;
    background-color: bisque;
    top : 50%;
    transform: translate(0,-50%);
}