*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
html,body{
    min-height : 100vh;
    background-color: rgb(218, 216, 216);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    position : relative;
    width : 100vw;
    height : 300vh;
    /* border : 3px solid black; */
    overflow-x : hidden;
    overflow-y: scroll;
}
.header{
    width : 100vw;
    height : 500px;
    /* border : 3px solid black; */
    position : relative;
    overflow-x: hidden;
}
.header_contents{
    width : 80%;
    height : 100%;
    margin : 0 auto;
    /* border : 3px solid black; */
}
.header_main{
    height : 10%;
    width : 90%;
    /* border : 3px solid black; */
    position : fixed;
    background-color: transparent;
    top : 0;
    left : 50%;
    transform: translateX(-50%);
    right : 0;
    z-index : 10000;
    display : flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
}
.header_main > .logo{
    font-size : 0.8rem;
    font-family: 'Festive', cursive;
    padding : 3px 10px;
}
.logo a{
    color : black;
}
.scroll_nav{
    /* border : 3px solid black; */
    margin : 0 auto;
    position : fixed;
    top : 0px;
    left : 50%;
    transform : translateX(-50%);
    padding : 20px 20px;
    text-align: center;
    display : none;
}
.list_2{
    display : flex;
    width : 800px;
    margin : 0 auto;
}
.list_2 > *{
    flex-grow : 1;
    padding : 3px 15px;
}
.sub_nav{
    /* border : 3px solid black; */
}
.sub_nav > .list_1{
    display : flex;
}
.list_1 > *{
    flex-grow : 1;
    /* border : 3px solid black; */
    padding : 3px 10px;
}
.list_1 a{
    color : black;
}
/*header전체를 차지하는 캐러셀 박스!*/
.carousel_box{
    position : absolute;
    top : 0;
    left : 0;
    width : 300vw;
    height : 100%;/*header의 */
    /* border : 10px solid black; */
    overflow-x: hidden;
    display : flex;
}
.carousel_box > *{
    flex-grow: 1;
    border-right : 3px solid black;
}
.shift_box{
    position : absolute;
    bottom : 10px;
    left : 50%;
    transform: translateX(-50%);
    display : flex;
}
.shift{
    flex-grow : 1;
    /* border : 1px solid black; */
    padding : 2px 5px;
    cursor : pointer;
    margin : 0 5px;
    background-color: blanchedalmond;
    border-radius : 50%;
    height : 20px;
    width : 20px;
}
.box img{
    width : 100%;
    height : 100%;
}

/*main_nav*/
.main_nav{
    width : 25%;
    height : 90%;
    position : fixed;
    top : 50%;
    right : 0;
    transform : translateY(-30%);
    
}
.main_nav > .main_bar{
    width : 100%;
    height : 100%;
}
.main_bar > li{
    height : 10%;
    width : 100%;
    /* border : 3px solid black; */
    /*nav통째 div이다 이걸 크기 조절해야함!*/
}
.menu{
    width : 100%;
    height : 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top : 5%;
    margin-left: 80%;
    position : relative;
    display : flex;
    overflow: hidden;
    background-color: rgb(162, 209, 231);
    transition : all 0.5s;
}    
/* .menu:hover{
    transition: all 0.5s;
    margin-left : 0%;
} */
.menu > *:nth-child(1){
    flex-grow: 3;
}
.menu > *:nth-child(2){
    flex-grow: 7;
}

.picture{
    width : 50px;
    height : 50px;
    position : relative;
    margin : auto auto;
    top : 50%;
    transform: translateY(-50%);
    border-radius : 25px;
}
.picture img{
    width : 100%;
    height : 100%;
}
.title > .text{
    width : 80%;
    height : 50%;
    position : relative;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color : white;
}

/*불러올 class*/
.logo_change{
    font-size : 1.3rem;
    color : white;
    margin-left : 50px;
    transition: all 0.5s;
}
.nav_change{
    height : 100px;
    transition: all 1s;
    background-color: rgb(236, 228, 228);
    border-radius: 50px;
}
.real_nav_change{
    transition: all 0.5s;
    padding : 5px 30px;
}
.real_nav_hover{
    border-radius : 50%;
    background-color: bisque;
}
/*scroll시에 변화를 줄 css*/
.font-size{
    font-size : 3rem;
}
/*main디자인!!*/
.main{
    width : 80vw;
    min-height : 100vh;
    margin : 0 auto;
    /* border : 5px solid black; */
}
/*article은 생략!! section크기에 따라서 다름!*/
.article{
    width : 100%;
    min-height : 100vh;
    /* border : 8px solid black; */
    position : relative;
    top : 0;
    left : 0;
}

.top8{
    width : 100%;
    /* border : 3px solid black; */
    position : relative;
    top : 20%;
}
.top8 h1{
    /* border : 3px solid black; */
    font-size : 3rem;
    width : fit-content;
    margin : 10% auto;
    font-family: 'Jua', sans-serif;
}
.top8_items{
    /* border : 3px solid black; */
    position : relative;
    margin : 30px 20px;
}
.items{
    display : flex;
    justify-content: space-between;
    align-items: center;
    position : relative; /*자식들을 전부 hover했을 때 위치 바꿔줄거임!*/
    margin: 10% auto;
}
.items > .item{
    flex-grow: 1;
    margin : 5px 20px;
    border : none;
    cursor : pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height : 200px; /*임의로 지정한거임!*/
    border-radius : 10%;
    transition : all 0.5s;
    overflow-x: hidden;
}
.item .item_carousel{
    width : 200%;
    height : 100%;
    display : flex;
}
.item_carousel > *{
    flex-grow : 1;
    /* border-right : 3px solid black; */
}
.item_carousel .pre{
    background-color: rgb(184, 165, 82);
}
.item_carousel .next{
    background-color: rgb(104, 133, 197);
}







.change{
    transition : all 1s;
    position : absolute; /*위로 띄운 다음에 너비 넓혀야함!*/
    top : 50%;
    transform: translateY(-50%);
    background-color: bisque;
    z-index : 1;
    width : 100%;
    text-align: center;
    font-size : 3rem; /*이거 그냥 임의로!!*/
}
/* 
.content{
    border:10px solid black;
    height : 100px;
} */