*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    min-height : 100vh;
}
li{
    list-style-type: none;
}
a{
    text-decoration : none;
}
.header{
    /*header가상요소에다가 background-color을 넣을 예정!
    난 충분히 잘 하고있어!! html css자신있다고 생각하고 더 하자!
    내가 만들어낼 수 있는 site가 많아!! 싹 다 해보자!!
    */
    height : 500px;
    /* border : 1px solid black; */
    position : relative; /*position이 있어야 가상요소 할 수 있음!*/
    top : 0;
}
.header::before{
    content : "";
    position : absolute;
    width : 75%;
    height : 100%;
    background-color: #1b5e20;
    z-index : -1000000000; /*이게 아래에 있어야해!!
    다른 거 클릭을 못 함..!!!*/ 
}
.header_contents{
    width : 90%;
    height : 90%;
    margin : 0px auto;
    /* border : 1px solid black; */
    position : relative;
    /*carousel위치 지정해주기 위함.*/
}
.header_main{
    width : 100%;
    height : 15%;
    /* border : 1px solid black; */
    position : relative;
}

.main_nav{
    position : absolute;
    left : 50%;
    transform: translateX(-50%);
    width : 45vw;
    /* border : 1px solid black; */
}
.real_nav{
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    margin-top : 10px;
    border-bottom : 4px solid rgb(156, 201, 111);
}
.real_nav > *{
    flex-grow : 1;
    text-align: center;
    
}
.real_nav a{
    /*a태그 전체에 color는 좀 무리.. color는 따로!*/
    color : white;
}
.real_nav > li{
    font-size : 0.8rem;
    padding : 10px 5px;
    font-family: 'Noto Sans Display', sans-serif;
}
.real_nav > li:hover{
    border-radius : 25px;
    background-color: rgb(156, 201, 111);
    transition : all 0.5s;
    transform : scale(1.2);
    width : fit-content;
    text-transform : lowercase;
}
.real_nav > li:nth-child(1){
    background-color: rgb(156, 201, 111);
    /*기본값으로 이렇게 설정 해줌!!*/
    border-radius : 25px;
}
.logo{
    position : absolute;
    font-family: 'Festive', cursive;
    font-size : 1.2rem;
}
.logo:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
.logo a{
    color : white;
}
.sub_menu{
    position : absolute;
    right : 10px;
    top : 0px;
    width : 100px;
}
.sub_list{
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.sub_list > li{
    margin : 10px 7px;
    width : fit-content;
    height : fit-content;
    border-radius: 25%;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.sub_list img{
    width : 15px;
    height : 15px;
}
.sub_list li:hover{
    transition : all 0.5s;
    transform : scale(1.2);
}
.search_box{
    position : absolute;
    top : 85%;
    right : 10px;
    border-radius : 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

form{
    width : 100%;
    height : 30px;
    display : flex;
}
form > *{
    border : none;
    outline : none;
}
form > input:nth-child(1){
    flex-grow: 8;
    text-align: center;
}
form > input:nth-child(2){
    flex-grow: 2;
    cursor : pointer;
}
/*header위 라인*/
.carousel_box{
    width : 75%;
    height : 90%;
    border : 1px solid black;
    display : flex;
}
.text_carousel{
    flex-grow : 1.5;
    background-color: beige;
    
    overflow: hidden;
    display : flex;
}
.pic_carousel{
    flex-grow : 2.2;
    background-color: antiquewhite;
    
    overflow: hidden;
    display : flex;
}
.textbox , .picbox{
    width : 300%;
    overflow: scroll;
    display : flex;
}
.textbox > * , .picbox > *{
    min-width : 100%;
    border-right : 3px solid black;
}
/*===== << header 끝 >> =====*/
.main{
    height : 500px;
    border : 2px solid black;
}


/*header 반응형!!*/
/*1000px 부터는 이제 반응을 줄거야!*/
@media screen and (max-width : 1000px){
    .carousel_box{
        position : absolute;
        top : 320px;
        right : 50%;
        width : 80%;
        height : 80%;
        /* border : 1px solid black; */
        overflow: hidden;
        transform: translateX(50%);
    }
    .text_carousel{
        width : 80%;
        height : 80%;
        /* border : 1px solid black; */
        position : absolute;
        top : 120px;
        right : 50%;
        transform: translateX(50%);
        text-align: center;
        overflow: hidden;
    }
    .shift{
        width : 10px;
        height : 10px;
        border-radius : 5px;
        background-color: bisque;
        margin : 5px 5px;
        cursor : pointer;
        position : relative;
        top : 180px;
    }
    .search_box{
        position : absolute;
        width : 70%;
        top : 95%;
        right : 50%;
        transform: translate(50%);
        border-radius : 25px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .sub_list li{
        position : relative;
        top : 20px;
        right : 30px;
        transition : all 0.5s;
        transform : scale(1.2);
    }
}
