.container {
    position: relative;
    /* 겉에 가장 큰 box! */
    width: 95vw;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
    /*왼쪽 sub__nav span 3해야함! */
    grid-gap: 1vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    /* box-shadow: 20px 20px 35px rgba(9, 148, 255, 0.25),
            -10px -10px 30px rgba(9, 148, 255, 0.1),
            inset -5px -5px 15px rgba(9, 148, 255, 0.5); */
    margin: 1vh 1vw;
    font-family: 'Ubuntu', sans-serif;
}

.container>.side__nav {
    grid-row: 1/3;
}

.container>* {
    /* border: 1px solid black; */
    background-color: white;
}