<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/authSignUp.css">
    
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Lobster&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <script defer src="../../js/authSignUp"></script>
</head>
<body>
    <div class="container">
        <div class="container_contents">
            <header class="header content">
                <!-- 캐러셀 박스!!!!!!!!!!-->
                <div class="search_box">
                    <form action="#" class="search_form" method="post">
                        <input type="search" name="search" id="search" placeholder="모델명 or 회사이름">
                        <input type="submit" value="go" class="search_button">
                    </form>
                </div>
                <nav class="sub_nav">
                    <div class="logo">
                        <h1><a href="" class="stupping">stupping</a></h1>
                    </div>
                    <div class="sub_logo">
                        <ul class="sub">
                            <li><a href="http://localhost:3000/login">Login</a></li>
                            <li><a href="http://localhost:3000/authSignUp">Sign up</a></li>
                            <li><a href="http://localhost:3000/myPage">My Page</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <nav class="main_nav">
                <ul class="main_bar">
                    <li class="hover"><a href="">
                            <div class="menu_icon">
            
            
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>TOP8</h1>
                                <img
                                    src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-eight-womens-day-flatart-icons-outline-flatart./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>CATEGORY</h1>
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/cat./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>EXPLAIN</h1>
                                <img
                                    src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-presentation-world-oceans-day-wanicon-lineal-wa./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>TO BUY</h1>
                                <img src="https://img.icons8.com/pastel-glyph/64/000000/sale-tim./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>GRAPH</h1>
                                <img
                                    src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-fill-vitaly-gorb./img/img.png" />
                            </div>
                        </a></li>
                </ul>
            </nav>
            <main class="user_sign_up">
                <div class="sign_up_title">
                    <h1 class="title">회원가입</h1>
                </div>

                <form action="#" method="post" class="user_form">
                    <!--action으로 내가 form에 입력한 정보들을 보낸다!-->
                    <div class="form_left">
                        <div class="input_box">
                            <h3 class="input_title">역할</h3>
                            <label for="user1">사용자</label>
                            <input type="radio" name="user" id="user1">
                            <label for="user2">관리자</label>
                            <input type="radio" name="user" id="user2">
                            <label for="user3">판매자</label>
                            <input type="radio" name="user" id="user3">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userId">아이디</label></h3>
                            <input type="text" name="userId" id="userId">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userPw">비밀번호</label></h3>
                            <input type="password" name="userPw" id="userPw">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userName">이름</label></h3>
                            <input type="text" name="userName" id="userName">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userEmail">이메일</label></h3>
                            <input type="email" name="userEmail" id="userEmail">
                        </div>
                    </div>
                    <div class="form_right">
                        <div class="input_box">
                            <h3 class="input_title"><label for="userPhone">핸드폰</label></h3>
                            <input type="text" name="userPhone" id="userPhone">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userBirth">생년월일</label></h3>
                            <input type="date" name="userBirth" id="userBirth">
                        </div>
                        <div class="input_box">
                            <h3 class="input_title">성별</h3>
                            <label for="gender1">남자</label>
                            <input type="radio" name="gender" id="gender1">
                            <label for="gender2">여자</label>
                            <input type="radio" name="gender" id="gender2">
                        </div>

                        <div class="input_box">
                            <h3 class="input_title"><label for="userBank">은행선택</label></h3>
                            <select name="bank" id="userBank">
                                <option value="bank1">신한</option>
                                <option value="bank2">우리</option>
                                <option value="bank3">국민</option>
                                <option value="bank4">새마을</option>
                                <option value="bank5">몰라</option>
                            </select>
                        </div>
                        <div class="input_box">
                            <h3 class="input_title"><label for="userAccount">계좌</label></h3>
                            <input type="text" name="userAccount" id="userAccount">
                        </div>
                    </div>
                    <input type="submit" value="회원가입" id="user_signUp_button">
                </form>
            </main>
</body>
</html>