<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Main page</title>
    <link
        href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&family=Hi+Melody&family=Island+Moments&family=Single+Day&family=Sunflower:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script defer src="../../js/myPage.js"></script>
</head>
<!-- 에니메이션 시간 후에 자동으로 wrapper띄우는 setTimeout함수 적자!!-->

<body>

    <div class="container">
        <div class="container_contents">
            <header class="header content">
                <!-- 캐러셀 박스!!!!!!!!!!-->
        
                <div class="search_box">
                    <form action="#" class="search_form" method="post">
                        <input type="search" name="search" id="search" placeholder="모델명 or 회사이름">
                        <input type="submit" value="go" class="search_button">
                    </form>
                </div>
                
                <!-- 캐러셀 박스 생략!!!!!!!!!!-->
               
                <nav class="sub_nav">
                    <div class="logo">
                        <h1><a href="" class="stupping">stupping</a></h1>
                    </div>
                    <div class="sub_logo">
                        <ul class="sub">
                            <li><a href="http://localhost:3000/login">Login</a></li>
                            <li><a href="http://localhost:3000/authSignUp">Sign up</a></li>
                            <li><a href="http://localhost:3000/myPage">My Page</a></li>
                            <li><a href="">Bucket</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <nav class="main_nav">
                <ul class="main_bar">
                    <li class="hover"><a href="">
                            <div class="menu_icon">
            
            
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>TOP8</h1>
                                <img
                                    src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-eight-womens-day-flatart-icons-outline-flatart./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>CATEGORY</h1>
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/cat./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>EXPLAIN</h1>
                                <img
                                    src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-presentation-world-oceans-day-wanicon-lineal-wa./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>TO BUY</h1>
                                <img src="https://img.icons8.com/pastel-glyph/64/000000/sale-tim./img/img.png" />
                            </div>
                        </a></li>
                    <li class="hover"><a href="">
                            <div class="menu_icon">
                                <h1>GRAPH</h1>
                                <img
                                    src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-fill-vitaly-gorb./img/img.png" />
                            </div>
                        </a></li>
                </ul>
            </nav>

            <main class="myPage_main">
                <div class="user_page">
                    sdsdsds
                </div>
            </main>
        </div>
    </div>
</body>
</html>