<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <!--static으로 public해놔서 그 밑 /부터 시작한다!!!!-->
</head>
<body>
    마이페이지 입니다!!!
</body>
</html>