<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/userMain.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Lobster&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Redressed&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Single+Day&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Festive&family=Lato:ital,wght@0,400;0,700;1,900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Roboto+Mono&family=Rowdies:wght@300;700&family=Single+Day&display=swap"
        rel="stylesheet">
    <script defer src="./js/userMain.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header_contents">
                <div class="header_main">
                    <div class="logo">
                        <a href="">
                            <h1>Stupping</h1>
                        </a>
                    </div>
                    <div class="sub_nav">
                        <ul class="list_1">
                            <li><a href="">Login</a></li>
                            <li><a href="">Sign Up</a></li>
                            <li><a href="">My page</a></li>
                            <li><a href="">Bucket</a></li>
                        </ul>
                        <!--
                            여기 nav_bar의 스크롤바가 내려지면...
                            예를들어.. 글자가 작아진다.
                            배경 색이 바뀐다... 
                            자바스크립트로 작성한다!!
                        -->
                    </div>
                </div>
            </div>

            <div class="carousel_box">
                <div class="box1 box">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2018/03/05/20180305123327193466_0_710_400.jpg" alt="">
                </div>
                <div class="box2 box">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2018/03/05/20180305123327193466_0_710_400.jpg" alt="">
                </div>
                <div class="box3 box">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2018/03/05/20180305123327193466_0_710_400.jpg" alt="">
                </div>
            </div>
            <div class="shift_box">
                <div class="slide-1 shift"></div>
                <div class="slide-2 shift"></div>
                <div class="slide-3 shift"></div>
            </div>
        </header>

        <nav class="main_nav">
            
            <ul class="main_bar">
                <!--이제 여기 A태그에 각 URL을 넣어주면 돼!! 좋다 지금!!-->
                <li>
                    <a href="">
                        <div class="menu1 menu">
                            <div class="menu1_img" id="menu">
                                <div class="picture">
                                    <img
                                        src="https://img.icons8.com/external-bearicons-flat-bearicons/64/000000/external-Top-10-miscellany-texts-and-badges-bearicons-flat-bearicons.png" />
                                </div>
                            </div>
                            <div class="title">
                                <div class="text">
                                    <h1>TOP 8</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu2 menu">
                            <div class="menu2_img" id="menu">
                                <div class="picture">
                                    <img src="https://img.icons8.com/stickers/100/000000/category.png" />
                                </div>
        
                            </div>
                            <div class="title">
                                <div class="text">
                                    <h1>CATEGORY</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu3 menu">
                            <div class="menu3_img" id="menu">
                                <div class="picture">
                                    <img
                                        src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/64/000000/external-homepage-website-development-xnimrodx-lineal-color-xnimrodx.png" />
                                </div>
        
                            </div>
                            <div class="title">
                                <div class="text">
                                    <h1>HOMEPAGE</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu4 menu">
                            <div class="menu4_img" id="menu">
                                <div class="picture">
                                    <img
                                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/60/000000/external-graph-cyber-monday-vitaliy-gorbachev-blue-vitaly-gorbachev.png" />
                                </div>
                            </div>
                            <div class="title">
                                <div class="text">
                                    <h1>GRAPH</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu5 menu">
                            <div class="menu5_img" id="menu">
                                <div class="picture">
                                    <img
                                        src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-buy-call-to-action-bearicons-glyph-bearicons.png" />
                                </div>
        
                            </div>
                            <div class="title">
                                <div class="text">
                                    <h1>BUY</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
       
    </script>
</body>

</html>