<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formhtml</title>
</head>

<body>
    <h1>Your id is <%= userId %> </h1>
    <!--
        data를 보내는 page에서
        보통 input의 name값에 담아서 보냄!!

        그럼 ejs설정에서 {}형태로 설정을 해 주고 
        ejs에서 input의 name값을 출력해주면 돼!
    -->
    <%for(let i=0; i<5; i++){%>
        <h1>안녕</h1>
      <%}%>
      <%document.write("안녕하세요!!");%>
</body>

</html>