<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user mainpage</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/sideNav.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/sectionCss/users/graph.css">

    <!-- font style -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>
    <script defer src="../../js/users/indexSection.js"></script>
</head>

<body>
    <div class="container">
        <div class="category__container">
            <i class="fa-solid fa-xmark close__button"></i>
            <div class="category__title">Category</div>
            <div class="category__items">
                <div class="item">
                    <p>supplierName</p>
                </div>
                <div class="item">
                    <p>cpuName</p>
                </div>
                <div class="item">
                    <p>gpuName</p>
                </div>
                <div class="item">
                    <p>registerDate</p>
                </div>
            </div>
            <form get="/notebooks" method="get" class="category__list">
                <div class="input__box">1</div>
                <div class="category__button">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
        <nav class="side__nav">
            <div class="main__title">
                <div class="category__logo">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="main__logo">
                    <a href="/index">Stupping</a>
                </div>
            </div>
            <div class="main__nav">
                <ul class="main__list">
                    <li class="list"><a href="/top8/index">
                            <div class="real__logo">
                                <i class="fa-solid fa-ranking-star"></i>
                                <span class="nav__title">top8</span>
                            </div>
                        </a></li>
                    <li class="list"><a href="/notebooks/index">
                            <div class="real__logo">
                                <i class="fa-solid fa-laptop"></i>
                                <span class="nav__title">notebook</span>
                            </div>
                        </a></li>
                    <li class="list"><a href="/buyer/index">
                            <div class="real__logo">
                                <i class="fa-solid fa-face-smile"></i>
                                <span class="nav__title">to buy</span>
                            </div>
                        </a></li>
                    <li class="list"><a href="/graph/index">
                            <div class="real__logo">
                                <i class="fa-solid fa-chart-line"></i>
                                <span class="nav__title">graph</span>
                            </div>
                        </a></li>
                </ul>
            </div>
        </nav>
        <header class="header">
            <div class="search__bar">
                <form action="/notebooks" method="get">
                    <input type="search" name="notebook" id="" placeholder="회사 이름 or 상품 이름">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <nav class="header__subnav">
                <ul class="header__sub__list">
                    <li><a href="/sign-in/index">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <p>Login</p>
                        </a></li>
                    <li><a href="">
                            <i class="fa-duotone fa-user-minus"></i>
                            <p>Logout</p>
                        </a></li>
                    <li><a href="/sign-up/index">
                            <i class="fa-solid fa-user-plus"></i>
                            <p>signUp</p>
                        </a></li>
                    <li><a href="/mypages/index">
                            <i class="fa-solid fa-user"></i>
                            <p>myPage</p>
                        </a></li>
                </ul>
            </nav>
            <div class="sub__nav__logo">
                <i class="fa-solid fa-bars sub__nav__logo"></i>
            </div>
        </header>
        <main class="section">
            <h1>그래프</h1>
        </main>
    </div>

    <script>

    </script>
</body>

</html>