<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user mainpage</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/sideNav.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/sectionCss/users/Index.css">

    <!-- font style -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>
    <script defer src="../../js/users/indexSection.js"></script>
</head>
<body>
    <div class="container">
        <div class="category__container">
            <i class="fa-solid fa-xmark close__button"></i>
            <div class="category__title">Category</div>
            <!-- /notebooks get요청으로 보내야하는 form button만들기! -->
            <div class="category__list">
                <ul class="category__nav">
                    <li>
                        <span><i class="fa-solid fa-building"></i></span>
                        <span>supplierName</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-microchip"></i></span>
                        <span>cpuName</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-g"></i></span>
                        <span>gpuName</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-calendar-days"></i></span>
                        <span>registerDate</span>
                    </li>
                </ul>
            </div>
            <form action="/notebooks" method="get" class="category__contents">

                <div class="box">
                    <!-- box는 supplierName category를 hover했을 때 나오는 item목록-->
                    <div class="box__container">
                        <!-- box__container는 item하나하나를 감싸는 박스
                        grid로 좀 예쁘게 보기좋게 나오게 하려면 item하나하나를 감싸줘야함-->
                        <label for="supplierInput">LG</label>
                        <input type="checkbox" name="supplierName" id="supplierInput" value="LG">
                    </div>
                    <div class="box__container">
                        <label for="supplierInput">LG</label>
                        <input type="checkbox" name="supplierName" id="supplierInput" value="LG">
                    </div>
                    <div class="box__container">
                        <label for="supplierInput">LG</label>
                        <input type="checkbox" name="supplierName" id="supplierInput" value="LG">
                    </div>
                    <div class="box__container">
                        <label for="supplierInput">LG</label>
                        <input type="checkbox" name="supplierName" id="supplierInput" value="LG">
                    </div>
                </div>
                <div class="box"> <!-- cpuName을 hover했을 때 나오는 box -->
                    <div class="box__container">
                        <!-- 이것도 마찬가지 => 그냥 front에서 임의로 data하나 만든거-->
                        <label for="cpuInput">CPU1</label>
                        <input type="checkbox" name="cpuName" id="cpuInput" value="cpu1">
                    </div>
                </div>
                <div class="box"> <!-- 위와 같은 논리 -->
                    <div class="box__container">
                        <label for="gpuInput">gpu1</label>
                        <input type="checkbox" name="gpuName" id="gpuInput" value="gpu1">
                    </div>
                </div>
                <div class="box">
                    <div class="box__container">
                        <label for="registerInput">2072</label>
                        <input type="checkbox" name="registerDate" id="registerInput" value="2072">
                    </div>
                </div>
            </form>
            <div class="button__box">
                <button type="submit" class="category__button">submit</button>
            </div>
        </div>
        <nav class="side__nav">
            <div class="main__title">
                <div class="category__logo">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="main__logo">
                    <a href="/index">Stupping</a>
                </div>
            </div>
            <div class="main__nav">
                <ul class="main__list">
                    <li class="list"><a href="">
                        <div class="real__logo">
                            <i class="fa-solid fa-ranking-star"></i>
                            <span class="nav__title">top8</span>
                        </div>
                    </a></li>
                    <li class="list"><a href="">
                        <div class="real__logo">
                            <i class="fa-solid fa-laptop"></i>
                            <span class="nav__title">notebook</span>
                        </div>
                    </a></li>
                    <li class="list"><a href="/buyer/index">
                        <div class="real__logo">
                            <i class="fa-solid fa-face-smile"></i>
                            <span class="nav__title">tip</span>
                        </div>
                    </a></li>
                    <li class="list"><a href="">
                        <div class="real__logo">
                            <i class="fa-solid fa-chart-line"></i>
                            <span class="nav__title">graph</span>
                        </div>
                    </a></li>
                </ul>
            </div>
        </nav>
        <header class="header">
            <div class="search__bar">
                <form action="/notebooks" method="get">
                    <input type="search" name="notebook" id="" placeholder="회사 이름 or 상품 이름">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <nav class="header__subnav">
                <ul class="header__sub__list">
                    <li><a href="/sign-in/index">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <p>Login</p>
                    </a></li>
                    <li><a href="">
                        <i class="fa-duotone fa-user-minus"></i>
                        <p>Logout</p>
                    </a></li>
                    <li><a href="/sign-up/index">
                        <i class="fa-solid fa-user-plus"></i>
                        <p>signUp</p>
                    </a></li>
                    <li><a href="/mypages/index">
                        <i class="fa-solid fa-user"></i>
                        <p>myPage</p>
                    </a></li>
                </ul>
            </nav>
            <div class="sub__nav__logo">
                <i class="fa-solid fa-bars sub__nav__logo"></i>
            </div>
        </header>
        <main class="section">
            <div class="carousel">
                <div class="arrow__box">
                    <% for(let i=0; i<result.length; i++){ %>
                        <div class="arrow"></div>
                    <% } %>
                </div>
                <div class="carousel__container">
                    <!-- 여기에 이제 최신순 상품 3개 db에서 꺼내오자! 
                    GET : /notebooks/:id -->
                    <% for(let i=0; i<result.length; i++){ %>
                        <div class="carousel__item" data-id="<%= result[i]._id %>">
                            <div class="carousel__img">
                                <img src="../../img/11.png" alt="">
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="homepage__using">
                <div class="advantage__container">
                    <% for(let i=0; i<4; i++){ %>
                        <div class="advantages">
                            <div class="advantages__box">
                                <div class="advantages__logo"></div>
                                <div class="advantages__explain"></div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="advantage__arrow__box">
                    <% for(let i=0; i<4; i++){ %>
                        <div class="advantage__arrow"></div>
                    <% } %>
                </div>
            </div>
            <div class="section__footer">3</div>
        </main>
    </div>

    <script>
        
    </script>
</body>
</html>