* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: white;
    /*일단 지켜보자!*/
}

li {
    list-style-type: none;
}

html,
body {
    min-height: 100vh;
    background-color: rgb(30, 29, 29);
}

.container {
    min-height: fit-content;
    width: 100vw;
    /* border : 3px solid white; */
}

.container>.container_contents {
    width: 70vw;
    min-height: fit-content;
    margin: 0 auto;
    position: relative;
    /* border : 3px solid white; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    position: fixed;
    z-index: 1000000;
    top: 0;
    width: 70vw;
}

.header>.header_title {
    /* border : 3px solid white; */
    padding: 3% 5%;
}

.header>.header_title>.title {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-family: 'Water Brush', cursive;
    /* border: 2px solid white; */
}

/*header 서브네브!*/
.header>.header_nav {
    /* border : 2px solid white; */
    /* width : fit-content; */
    /* height : fit-content; */
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-70%);
}

.header>.header_nav>ul {
    display: flex;
    /* background-color: orange; */
    justify-content: space-between;
    align-items: center;
}

.header_nav>ul>li {
    /* border : 1px solid black; */
    padding: 5% 6%;
    flex-grow: 1;
    text-align: center;
    margin: 0 2%;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
}

.header_nav>ul>li:hover {
    background-color: rgb(101, 100, 100);
    transition: all 0.5s;
}

/*header search_bar*/
.header>.search_bar {
    display: flex;
    /* border : 4px solid white; */
    border-bottom: 2px solid white;
    position: relative;
    top: 30px;
    right: 3%;
}

.search_bar>button {
    background-color: transparent;
    color: white;
    padding: 1% 1%;
    outline: none;
    border: none;
    cursor: pointer;
}

.search_bar>input[type="search"] {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.search_bar>input[type="search"]::placeholder {
    color: white;
}

/* input search 'x' icon remove!! */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/*carousel*/
.main {
    /* border : 3px solid deeppink; */
    position: relative;
    top: 16vh;
    min-height: 100vh;
}

.main>.carousel_container {
    height: 60vh;
    width: 100%;
    border: 3px solid white;
    overflow-x: hidden;
}

/* carousel => width 300인 케러셀 그 자체!*/
.carousel_container>.carousel {
    min-width: 300%;
    display: flex;
    height: 100%;
    position: relative;
    cursor: pointer;
    /* border : 3px solid white; */
}

.carousel_container>.carousel>.carousel_item {
    flex-grow: 1;
    height: 100%;
    /* border-right : 3px solid white; */
    position: relative;
}

.carousel_item>.carousel_text {
    position: absolute;
    width: 35%;
    height: 60%;
    border: 3px solid white;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.carousel_text>.carousel_title {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_text>.carousel_title>.title {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.carousel_text>.carousel_content {
    width: 60%;
    height: 50%;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_item>.carousel_img {
    position: absolute;
    height: 80%;
    width: 50%;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border: 3px solid white;
}

.carousel_img>img {
    width: 100%;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ====== >> carousel shift */
.carousel_container>.shift_box {
    position: absolute;
    width: 70px;
    height: 30px;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shift_box>.shift {
    min-width: 20px;
    height: 70%;
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
}

/* ============= << TOP8부터 시작!! >> ================*/
.main>.main_contents {
    min-height: 100vh;
    width: 100%;
    /* border : 5px solid deepskyblue; */
}

.top8_contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    /* border : 3px solid white; */
}

.top8_contents>.title_box {
    flex-grow: 0.5;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_box>.title {
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5%;
    padding: 1% 2%;
    color: white;
    background-color: gray;
}

.top8_contents>.top8_box {
    flex-grow: 9;
    background-color: transparent;
}

.top8_box>table {
    width: 100%;
    height: 120%;
    border: 5px solid white;
}

.top8_box td {
    border: 7px solid white;
}

.top8_box td>.item_cart {
    width: 90%;
    height: 50vh;
    background-color: beige;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* 여기에 top8 cart content!!!*/
.item_cart>.cart_img_box {
    /*cart 이미지*/
    width: 80%;
    height: 40%;
    position: relative;
    border: 3px solid black;
    left: 50%;
    transform: translateX(-50%);
}

.item_cart>.cart_contents {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    border: 2px solid black;
}

.item_cart>.cart_contents>table {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.cart_element>td {}
/* ====== << category >> ====== */
.category_contents {
    width: 100%;
    height: 80vh;
    /* background-color: orange; */
    margin-top: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.category_contents>.title_box {
    flex-grow: 1;
    width: 100%;
    /* border : 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_contents>.category_box {
    flex-grow: 9;
    width: 100%;
    /* border : 5px solid white; */
}

.category_box>.category_form {
    width: 100%;
    height: 100%;
    background-color: paleturquoise;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.category_form>.cate:not(.cate_formButton) {
    height: 60%;
    width: 20%;
    border: 3px solid black;
}

.category_form>.cate_formButton {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    width: 20%;
    height: 10%;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    border: 3px solid white;
    outline: none;
}

.category_form>.cate_formButton:hover {
    transition: all 0.5s;
    font-size: 1.3rem;
}

.cate>.category_imgBox {
    position: relative;
    width: 80%;
    height: 40%;
    border: 2px solid black;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.cate>.name_box {
    width: 70%;
    height: 20%;
    position: relative;
    border: 2px solid black;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}

#dropdown_list {
    position: relative;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
}

#dropdown_list>option {
    text-align: center;
    font-weight: 900;
}

/* 홈페이지 장점! */
.homepageAD_contents {
    height: 60vh;
    width: 100%;
    /* border : 4px solid white; */
    display: flex;
    flex-direction: column;
}

.homepageAD_contents>.title_box {
    flex-grow: 1;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}

.homepageAD_contents>.AD_contents {
    flex-grow: 9;
    width: 100%;
    /* background-color: palevioletred; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.AD_contents>.AD {
    width: 20%;
    height: 90%;
    /* border : 3px solid white; */
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.7) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
    border-radius: 5%;
    position: relative;
}

.AD_contents>.AD:nth-child(1) {
    background-color: rgb(152, 160, 158);
}

.AD_contents>.AD:nth-child(2) {
    background-color: rgb(100, 180, 194)
}

.AD_contents>.AD:nth-child(3) {
    background-color: rgb(77, 79, 78);
}

.AD_contents>.AD:nth-child(4) {
    background-color: rgb(113, 110, 150);
}

.AD>.img_box {
    position: relative;
    width: 30%;
    height: 20%;
    border: 2px solid white;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    color: white;

}

.AD>.text_box {
    width: 95%;
    height: 50%;
    border: 3px solid white;
    border: 3px solid white;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

/* 그래프 */
.graph_contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
}

.graph_contents>.title_box {
    flex-grow: 1;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph_contents>.gph_contents {
    flex-grow: 9;
    width: 100%;
    background-color: coral;
}