*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
html,body{
    min-height : 100vh;
}
a{
    text-decoration: none;
    color : white;
}
li{
    list-style-type: none;
}

.container{
    width : 100vw;
    min-height : 100vh;
    background-color: rgb(70, 69, 71);
}
.container_contents{
    width : 85vw;
    min-height : 100vh;
    margin : 0 auto;
    position : relative;
    background-color: transparent;
}
.header{
    width : 100%;
    height : 800px; /*일단은 임의로!!*/
    /* border : 3px solid black; */
    position : relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
/*============ search box ============*/
.search_box{
    position : absolute;
    z-index : 1;
    width : 200px;
    height : 30px;
    top : 10%;
    right : 4%;
}
.search_form{
    width : 100%;
    height : 100%;
    position : relative;
    display : flex;
    overflow: hidden;
    border-radius: 10px;
}
.search_form::before{
    content : '';
    position : absolute;
    width : 100%;
    height : 100%;
    background-color: black;
    opacity: 0.6;
    z-index : -1;
}
input[type="search"]{
    width : 90%;
    height : 100%;
    background-color: transparent;
    outline : none;
    border : none;
    color : white;
    text-align: center;
}
input[type="submit"]{
    width : 15%;
    height : 100%;
    background-color: aliceblue;
    outline : none;
    border : none;
    color : gray;
    cursor : pointer;
}
.carousel_container{
    width : 300%;
    height : 100%;
    /* border : 3px solid black; */
    display : flex;
}
.box{
    flex-grow : 1;
    /* border-right : 3px solid gray; */
    position : relative;
}
.box img{   
    position : absolute;
    width : 60%;
    height : 90%;
    top : 50%;
    right : 7%;
    transform: translateY(-50%);
    /* border : 3px solid black; */
}
.box .text_box{
    width : 50%;
    height : 100%;
    position : absolute;
    top : 60%;
    left : 0%;
    transform: translateY(-50%);
    color : white;
    text-align: center;
    z-index: 1;
}
.text_box h1{
    padding-top : 15%;
    font-size: 5rem;
}
.text_box p {
    padding-top : 5%;
    font-size: 1.3rem;
    width : 50%;
    margin : 0 auto;
}
.shift_box{
    display : flex;
    position : absolute;
    bottom : 5%;
    left : 50%;
    transform: translateX(-50%);
    width : 70px;
    height : 40px;
}
.shift_box > *{
    flex-grow : 1;
    margin : 3px 6px;
    /* border : 1px solid white; */
    height : 50%;
    width : 30px;
    background-color: rgb(48, 46, 46);
    border-radius : 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor : pointer;
}
/*header의 캐러셀!!!!!*/
/*sub_menu*/
.sub_nav{
    position : fixed;
    top : 0px;
    left : 50%;
    transform: translateX(-50%);
    width : 100%;
    z-index : 10000;
    /* border : 3px solid white; */
    display : flex;
    height : 70px;
    background-color: transparent;
    transition : all 0.5s;
}
.sub_nav::before{
    content : '';
    position : absolute;
    width : 100%;
    height : 100%;
    background-color: black;
    opacity : 0.7;
}
.logo{
    width: fit-content;
    /* border : 3px solid white; */
    margin-left : 10%;
}
.logo > *{
    position : relative;
    top : 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}
.logo > *:hover{
    transition : all 0.5s;
    font-size : 1.7rem;
}
.sub{
    display : flex;
    /* border : 3px solid white; */
    position : absolute;
    right : 10%;
    top : 50%;
    transform: translateY(-50%);
}
.sub > *{
    padding : 5px 15px;
}
.sub > *:hover{
    background-color: rgb(112, 107, 107);
    border-radius : 25%;
    transition : all 0.5s;
    transform: scale(1.2);
}
.here{
    height : 3000px;
    width : 100vw;
    /* border : 3px solid white; */
}
/* ============== << MAIN _ NAV >> ==============*/
.main_nav{
    position : fixed;
    right : -100px;
    top : 20%;
    width : 300px;
    height : 120px;
    z-index : 100;
}

.main_bar > *{
    text-align: center;
    transform : translateX(70px);
    transition : all 0.5s;
    margin-top : 13px;
    margin-right : -0px;
    width : 100%;
    cursor : pointer;
    background-color: rgb(36, 36, 36);
}

.main_bar > *:hover{
    transition : all 0.5s;
    transform: translateX(-100px);
}
.main_bar img{
    width : 50px;
    height : 50px;
}
.menu_icon{
    display : flex;
}
.menu_icon > h1{
    line-height : 50px;
    margin-right : 15px;
}
/* ============== << MAIN _ NAV >> ==============*/
/*
nav change

*/
.nav_change{
    transition : all 0.5s;
    font-size : 1.3rem;
    height : 80px;
}
.content:not(:first-child){
    width : 100%;
    height : 600px;
    /* border : 3px solid black; */
    margin : 30px auto; /*가운데 정렬!*/
}

/* ================== << MAIN >> ==================*/
.main{
    position : relative;
    min-height : 100vh;
    
}
.main > .content{
    font-size : 2.5rem;
    text-align: center;
    color : white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position : relative;
    z-index : 99;
    border-radius : 10px;
}

.top8 > .text{
    height : 100%;
    font-size : 1.5rem;
}
.stage{
    margin : 25px 0;
    height : 500px;
    width : 100%;
    /* border : 3px solid white; */
    
    perspective: 1200px;
    display : flex;
    justify-content: center;
    align-items: center;
}
.carousel_3d{
    width : 250px;
    height : 300px;
    position : relative;
    transform-style: preserve-3d;
    /* animation : gogo 10s infinite linear; */
}
.panel{
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0;
    left : 0;
    /* border : 2px solid black; */
    cursor : pointer;
    backface-visibility: hidden; /*hidden으로 하면 뒷 배경이 안 보인다!!*/
}
.panel:nth-child(1){
    transform : rotateY(0deg)
    translateZ(301px);
}
.panel:nth-child(2){
    transform : rotateY(45deg)
    translateZ(301px);
}
.panel:nth-child(3){
    transform : rotateY(90deg)
    translateZ(301px);
}
.panel:nth-child(4){
    transform : rotateY(135deg)
    translateZ(301px);
}
.panel:nth-child(5){
    transform : rotateY(180deg)
    translateZ(301px);
}
.panel:nth-child(6){
    transform : rotateY(225deg)
    translateZ(301px);
}
.panel:nth-child(7){
    transform : rotateY(270deg)
    translateZ(301px);
}
.panel:nth-child(8){
    transform : rotateY(315deg)
    translateZ(301px);
}
.panel:hover{
    transition : all 1s;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.9) 0px 7px 13px -3px, rgba(0, 0, 0, 0.8) 0px -3px 0px inset;
    border-radius : 5%;
}
.number{
    width : fit-content;
    height : fit-content;
    margin : 0 auto;
    /* border : 2px solid white; */
    font-size : 1.2rem;
}
.item{
    position : relative;
    width : 100%;
    height : 100%;
    border : 1px solid black;
    border-radius : 5%;
}
.item_img{
    width : 60%;
    height : 50%;
    /* border : 1px solid white; */
    position : absolute;
    top : 10px;
    left : 50%;
    transform : translateX(-50%);
    border-radius : 10px;
    overflow: hidden;
}
.item_img > img{
    width : 100%;
    height : 100%;
}
.item_ex{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform: translateX(-50%);
    height : 50%;
    width : 80%;
    /* border : 2px solid white; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align: center;
    margin : 10px 0;
    border-radius : 10px;
}
.text_box > p{
    font-size : 0.8rem;
}
@keyframes gogo{
    to{
        transform : rotateY(360deg);
    }
} /*일단 애니메이션은 넣어놓고 작동은 안 시킴!! 선언만 함.*/
/*category*/
.category{
    width : 80vw;
    margin : 50px auto;
    position : relative;
    top : 0;
    left : 0;
    /* background-color: rgb(134, 152, 201); */
    /* border : 3px solid white; */
}
#title{
    font-size : 2rem;
    padding : 20px 0;
    /*height가 안 먹힘..즉 부모가 그럼 높이 지정이 안 돼있다는 소리임..*/
}
.category_content{
    position : absolute;
    width : 85%;
    height : 88%;
    left : 50%;
    top : 70px;
    /* border : 6px solid white; */
    transform: translateX(-50%);
    text-align: center;
    display : flex;
    flex-direction: column; /*세로 flex!*/
    /* border : 3px solid black; */
}
.cate_nav{
    width : 100%;
    height : 100%;
    /* border : 5px solid black; */
    display : flex;
    flex-direction: column;
}
.cate_list{
    flex-grow : 1; 
    /* border: 3px solid black;  */
    margin : 10px 0;
}
.cate_box{
    width : 100%; 
    height : 100%; 
    /* border : 5px solid white;  */
    display : flex;
}
.cate_img{
    flex-grow : 3; 
    /* border : 5px solid black;  */
    position : relative;
}
.cate_real{flex-grow : 7; border : 3px solid gray;}
.cate_img_box{
    position : absolute;
    top : 50%;
    left : 10%;
    transform : translateY(-50%);
    width : 40%;
    height : 80%;
    /* border : 1px solid black; */
}
.cate_img_box > img{
    width : 100%;
    height : 100%;
}
.cate_title_box{
    position : absolute;
    height : 80%;
    width : 40%;
    top : 50%;
    right : 5%;
    transform : translateY(-50%);
    /* border : 3px solid white; */
}
.cate_title_box > h1{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    font-size : 2.5rem;
}
/*============= 홈페이지 장점 ===============*/
.explain{
    width : 80vw;
    margin : 50px auto;
    position : relative;
}
.explain_content{
    position : absolute;
    width : 85%;
    height : 100%;
    left : 50%;
    transform: translateX(-50%);
    top : 0;
    /* border : 5px solid white; */
}
.advantage{
    width : 100%;
    height : 80%;
    /* border : 2px solid white; */
    margin : 20px 0;
    display : flex;
    position : relative;
}
.advantage > *{
    flex-grow : 1;
}
.ad:nth-child(1){background-color: rgb(204, 203, 203);
color : black;}
.ad:nth-child(2){background-color: rgb(94, 175, 185);}
.ad:nth-child(3){background-color: rgb(88, 88, 88);}
.ad:nth-child(4){background-color: rgb(37, 37, 37);}

.ad_text{
    position : relative;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    width : 80%;
    height : 80%;
    border-radius : 5%;
    /* border : 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.img_ex{
    position : relative;
    left : 50%;
    top : 7%;
    width : 50px;
    height : 50px;
    transform: translateX(-50%);
    /* border : 1px solid black; */
}
.img_ex img{
    width : 100%;
    height : 100%;
    color : white;
}
.ad_title{
    position : relative;
    top : 10%;
    left : 50%;
    transform: translate(-50%);
    font-size : 1rem;
    margin-bottom : 30px;
}
.sentence{
    font-size : 0.8rem;
    position : absolute;
    bottom : 5%;
    left : 50%;
    transform: translate(-50%,-50%);
    width : 70%;
}
/*.part_box > *가 hover됐을 때 나머지 설명들이 나오는 거!!! 구현해보자!!!!*/

/*잘 사는 법*/
.to_buy{
    width : 80vw;
    margin : 50px auto;
    position : relative;
}
.to_buy_content{
    position : absolute;
    width : 85%;
    left : 50%;
    top : 0;
    transform : translateX(-50%); 
    border : 2px solid white;
}

.graph{
    width : 80vw;
    margin : 50px auto;
    position : relative;
}
.graph_content{
    position : absolute;
    width : 100%;
    height : 100%;
    left : 50%;
    top : 0;
    transform : translateX(-50%);
    border : 5px solid white;
    display : flex;
}
.graph_content > *{
    margin : 20px 30px;
}
.left,.right{
    position : relative;
    height : 80%;
    top : 50%;
    transform : translateY(-50%);
    flex-grow : 2;
    border : 1px solid white;
    
}
.examples{
    flex-grow : 1;
    height : 80%;
    top : 50%;
    position : relative;
    border : 1px solid white;
    transform : translateY(-50%);
}

/* =========== hover class ===========*/
.hover{
    display : none;
    transition : all 0.5s;
}