 *{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color : white;
}
i{
    color : black;
}
.signUp_logo > i{
    color : white;
}
html,body{
    min-height : 100vh;
    background-color: rgb(51, 47, 47);
    
    position : relative;
}
.wrapper{
    height : 70vh;
    width : 100%;
    background-color: gray;
    position : absolute;
    top : 50%;
    transform: translate(0,-50%);
}
.wrapper .wrapper_content{
    margin : 0 auto;
    width : 50%;
    height : 100%;
    border-radius : 25px;
    box-shadow: rgba(0, 0, 0, 1.2) 0px 50px 100px -20px, rgba(0, 0, 0, 1.2) 0px 30px 60px -30px, rgba(0, 0, 0, 1.2) 0px -2px 6px 0px inset;
}
.wrapper_content::before{
    content: "";
    position : absolute;
    width : 50%;
    height : 100%;
    background-color: black;
    opacity: 0.4;
    z-index : -1000000;
    border-radius : 25px;
    box-shadow: rgba(0, 0, 0, 1.2) 0px 50px 100px -20px, rgba(0, 0, 0, 1.2) 0px 30px 60px -30px, rgba(0, 0, 0, 1.2) 0px -2px 6px 0px inset;
}
.main_logo{
    background-color: white;
    position : absolute;
    z-index : 100;
    top : 50px;
    left : 50%;
    font-size : 36px;
    width : 50px;
    height : 50px;
    transform: translate(-50%,0);
    border-radius : 100%;
}
.logo{
    width : 100%;
    height : fit-content;
    /* background-color: gray; */
    position : relative;
    text-align: center;
    
}
.logo > h1 > a{
    width : fit-content;
    margin : 0 auto;
    /* background-color: aqua; */
    font-family: 'Island Moments', cursive;
    text-shadow: 5px 10px 5px gray;
    font-size : 4.5rem;
    padding : 10px;
}
.formInput{
    width : 100%;
    height : calc(100% - 50px);
    position : realtive;
}
form{
    /* border : 5px solid white; */
    width : fit-content;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}
.user{
    background-color: white;
    color : white;
    width : 20vw;
    height : 40px;
    margin : 10px 0;
    display : flex;
    /* border : 3px solid white; */

}
.user > .id_logo{
    flex-grow : 0.7;
    /* background-color: aqua; */
    position : relative;
}
.user > .id_input{
    /* background-color: orange; */
    position : relative;
    width : 80%;
    height : 100%;
}
.user > .pw_logo{
    flex-grow : 0.7;
    /* background-color: aqua; */
    position : relative;
}
.user > .pw_input{
    /* background-color: orange; */
    position : relative;
    width : 80%;
    height : 100%;
}
i{
    font-size : 24px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}
input{
    border : none;
    outline : none;
    width : 100%;
    height : 100%;
}
.button_box{
    text-align : center;
    font-size : 1.5rem;
}